{% load admin_urls i18n %}

{% if views %}
  <div class="tabs">
    <ul>
      <li
        class="has-tip tip-bottom {% if name == '' %} active {% endif %}"
        {% if view.label %}title="{{ view.label }}"{% endif %}
        data-tooltip
        aria-haspopup="true"
        data-options="show_on:small"
      >
        <a href="{{ object.get_absolute_url }}" title="{% trans "Basic info" %}" class="ellipsis-hidden">
          <i class="fa fa-info"></i> <span class="tab-label">{% trans "Basic info" %}</span>
        </a>
      </li>
      {% for view in views %}
        {% if view.url_with_namespace %}
          <li
            class="has-tip tip-bottom {% if name == view.name %} active {% endif %}"
            title="{{ view.label }}"
            data-tooltip
            aria-haspopup="true"
            data-options="show_on:small"
          >
            <a href="
              {% if object.id %}
                {% url view.url_with_namespace object.id %}
              {% else %}
                {% url view.url_with_namespace %}
              {% endif %}
              " title="{{ view.label }}"
              class="ellipsis-hidden"
            />
              {% if view.icon %}
                <i class="fa fa-{{ view.icon }}"></i>
              {% endif %}
              <span class="tab-label">{{ view.label }}</span>
              {# TODO: show some badge (ex. currently running transitions ) #}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
