{% load admin_urls i18n %}

{% if views %}
  <div class="tabs">
    <ul>
      <li{% if name == '' %} class="active"{% endif %}>
        <a href="{{ object.get_absolute_url }}">
          <i class="fa fa-info"></i> {% trans "Basic info" %}
        </a>
      </li>
      {% for view in views %}
        <li{% if name == view.name %} class="active"{% endif %}>
          {% if object.id %}
            <a href="{% url view.url_with_namespace object.id %}">
          {% else %}
            <a href="{% url view.url_with_namespace %}">
          {% endif %}
            {% if view.icon %}
              <i class="fa fa-{{ view.icon }}"></i>
            {% endif %}
            {{ view.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
