db:
  image: mysql:5.7
  environment:
    MYSQL_DATABASE: ralph_ng
    MYSQL_ROOT_PASSWORD: ralph_ng
    MYSQL_USER: ralph_ng
    MYSQL_PASSWORD: ralph_ng
  volumes_from:
    - data
  command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

web:
  build: ralph
  restart: always
  ports:
    - "8000"
  volumes_from:
    - data
  links:
    - db:db
    - redis:redis
  env_file:
    - ./ralph/contrib/ralph.env
  command: gunicorn -w 4 -b 0.0.0.0:8000 -t 300 ralph.wsgi

nginx:
  image: nginx
  restart: always
  ports:
    - "80:80"
  links:
    - web:web
  volumes:
    - ./ralph/contrib/ralph.conf.nginx:/etc/nginx/conf.d/default.conf
  volumes_from:
    - web

data:
  image: mysql:5.7
  volumes:
    - /opt/static
    - /opt/media
    - /var/lib/mysql
  command: /bin/true

redis:
  image: redis:3.0
  restart: always
  ports:
    - "6379"

inkpy:
  image: ar4s/inkpy_jinja:latest
  restart: always
  links:
    - redis:redis
  env_file:
    - ./ralph/contrib/ralph.env

