{% load i18n admin_urls admin_static admin_modify %}

<div class="row">
  {% block row_div_definition %}
    <div class="small-12 medium-12 large-12 columns">
  {% endblock %}
    <div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
      <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}" data-prefix="{{ inline_admin_formset.formset.prefix|escapejs }}" data-add-text="{% filter escapejs %}{% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}{% endfilter %}" data-delete-text="{% filter escapejs %}{% trans 'Remove' %}{% endfilter %}" data-group-id="{{ inline_admin_formset.formset.prefix|escapejs }}">
        {{ inline_admin_formset.formset.management_form }}
        <fieldset class="module">
           <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
           {{ inline_admin_formset.formset.non_form_errors }}
            <table>
              <thead>
                <tr>
                  {% for field in inline_admin_formset.fields %}
                    {% if not field.widget.is_hidden %}
                      <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
                        {% if field.help_text %}
                          &nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />
                        {% endif %}
                      </th>
                    {% endif %}
                  {% endfor %}
                  {% block delete_header %}
                    <th>{% trans "Delete?" %}</th>
                  {% endblock %}
                </tr>
              </thead>

             <tbody>
             {% for inline_admin_form in inline_admin_formset %}
                {% if inline_admin_form.form.non_field_errors %}
                  <tr>
                    <td colspan="{{ inline_admin_form|cell_count }}">
                      {{ inline_admin_form.form.non_field_errors }}
                    </td>
                  </tr>
                {% endif %}
                <tr class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                  {% for fieldset in inline_admin_form %}
                    {% for line in fieldset %}
                      {% for field in line %}
                        {% if not field.field.is_hidden %}
                          <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}>
                            {% if field.is_readonly %}
                              <p>
                                {{ field.contents }}
                              </p>
                            {% else %}
                              {{ field.field.errors.as_ul }}
                              {{ field.field }}
                            {% endif %}
                          </td>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                    <td class="delete">
                      {% if inline_admin_formset.formset.can_delete %}
                        {% if inline_admin_form.original %}
                          {{ inline_admin_form.deletion_field.field }}
                        {% endif %}
                      {% endif %}
                      <div class="original hide">
                        {% if inline_admin_form.original and inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                          <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}?{{ inline_admin_form.model_admin.change_link_url_params }}" class="inlinechangelink change-related" title="{% trans 'Change' %}">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                          </a>
                        {% endif %}
                        {% if inline_admin_form.needs_explicit_pk_field %}
                          {{ inline_admin_form.pk_field.field }}
                        {% endif %}
                        {{ inline_admin_form.fk_field.field }}
                        {% spaceless %}
                          {% for fieldset in inline_admin_form %}
                            {% for line in fieldset %}
                              {% for field in line %}
                                {% if field.field.is_hidden %}
                                  {{ field.field }}
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          {% endfor %}
                        {% endspaceless %}
                      </div>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
  {% block inline_extra %}

  {% endblock %}
</div>

{% block extra_scripts %}

{% endblock %}
