{% load admin_list %}
<div class="small-2 columns sidebar actions-and-filters">
  {% admin_actions %}
  <div class="filters">
    {% if not is_graph_preview_view %}
      <h4>Filters</h4>
      <div class="filter-container">
        {% if is_popup %}
          <input type="hidden" name="_popup" value="1" />
        {% endif %}
        {% for spec in cl.filter_specs %}
          {% admin_list_filter cl spec %}
        {% endfor %}
      </div>
      <input type="button" class="button" id="filter-button" value="Filter" />
    {% else %}
      This is a graph preview. Filters are disabled.
    {% endif %}
  </div>
</div>
