/doc/_build/
/www/_build/
/src/ralph/runtime.log*
/src/ralph/settings-local.py
/src/ralph/manage.py
/src/ralph/static
/src/ralph/logs
*.pyc
.gitignore.swp
.gitignore
/.project
/.pydevproject
/.settings/
ralph.egg-info/
.idea/
dbcelery.sqlite
src/ralph/manage.py
/src/ralph.egg-info/
