/doc/_build/
/contrib/donpedro_v_1/DonPedro.DTO/bin
/contrib/donpedro_v_1/DonPedro.DTO/obj
/contrib/donpedro_v_1/DonPedro.Detectors/bin
/contrib/donpedro_v_1/DonPedro.Detectors/obj
/contrib/donpedro_v_1/DonPedro.Utils/bin
/contrib/donpedro_v_1/DonPedro.Utils/obj
/contrib/donpedro_v_1/DonPedro/bin
/contrib/donpedro_v_1/DonPedro/obj
/contrib/donpedro_v_1/DonPedro/DonPedro.PartCover.Settings
/contrib/donpedro_v_1/DonPedroOutput/bin
/contrib/donpedro_v_1/DonPedroOutput/obj
/contrib/donpedro_v_2/DonPedro.DTO/bin
/contrib/donpedro_v_2/DonPedro.DTO/obj
/contrib/donpedro_v_2/DonPedro.Detectors/bin
/contrib/donpedro_v_2/DonPedro.Detectors/obj
/contrib/donpedro_v_2/DonPedro.Utils/bin
/contrib/donpedro_v_2/DonPedro.Utils/obj
/contrib/donpedro_v_2/DonPedro/bin
/contrib/donpedro_v_2/DonPedro/obj
/contrib/donpedro_v_2/DonPedro/DonPedro.PartCover.Settings
/contrib/donpedro_v_2/DonPedroOutput/bin
/contrib/donpedro_v_2/DonPedroOutput/obj
/www/_build/
/src/ralph/runtime.log*
/src/ralph/settings-local.py
/src/ralph/static
/src/ralph/logs
/src/ralph/uploads
