sudo: false
language: python

python:
  - "2.7"
  - "3.4"
  - "pypi"

before_install:
    - pip install flake8 --use-mirrors
    - make flake

install:
    - pip install . --use-mirrors
    - pip install -r requirements/test.txt
    - pip install coveralls

script:
    - make coveralls

after_success:
  - coveralls

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/837fe61b536818b676ad
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
