language: python
env:
  matrix:
    - DJANGO_VERSION=1.4.18 TEST_DATABASE_ENGINE=mysql
    - DJANGO_VERSION=1.6.10 TEST_DATABASE_ENGINE=sqlite
matrix:
  allow_failures:
    - env: DJANGO_VERSION=1.6.10 TEST_DATABASE_ENGINE=sqlite
python:
  - "2.7"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install git+https://github.com/allegro/django-bob@master
  - pip install git+https://github.com/quamilek/bob-ajax-selects.git@master
  - pip install git+https://github.com/allegro/ralph_assets.git@master
  - make install
  - pip install coveralls
  - pip install flake8
  - pip install django-auth-ldap==1.1.3


# command to run tests, e.g. python setup.py test
script: make test-with-coveralls
before_script:
  make flake

after_success:
  - coveralls

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/837fe61b536818b676ad
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
