sudo: required
language: python

env:
  matrix:
    - TEST_DB_ENGINE=mysql
    - TEST_DB_ENGINE=sqlite

services:
    - docker
    - mysql

cache:
  directories:
    - node_modules
    - bower_components

python:
    - "3.4"
    - "3.5"

before_install:
    - pip install flake8 isort
    - make flake
    - export RALPH_VERSION=$(cat VERSION)
    - export NEW_TAG=$RALPH_VERSION-snapshot-$(date "+%Y%m%d")-$TRAVIS_BUILD_NUMBER

install:
    - npm config set python /usr/bin/python2.7
    - npm install
    - make js-hint
    - gulp
    - make install-test
    - pip install coveralls

script:
    - gulp test
    - make coveralls

after_success:
    - coveralls

before_deploy:
    - sudo add-apt-repository -y ppa:spotify-jyrki/dh-virtualenv
    - sudo apt-get update
    - sudo apt-get install -y devscripts python-virtualenv git equivs dh-virtualenv
    - make build-package

deploy:
    -   provider: script
        script: scripts/travis_deploy_docker.sh
        on:
            branch: ng
            python: 3.4
    -   provider: script
        script: scripts/travis_deploy_bintray.sh
        on:
            branch: ng
            python: 3.4

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/837fe61b536818b676ad
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
