---
layout: hero
---

<div class="hero">
  <h2><strong>Lightweight</strong> Assets Management System <br>for Data Center and Back Office</h2>
  <h3>It is an Open Source project provided on Apache v2.0 License.</h3>
  <img src="img/home-page.png" alt="" width="75%">
</div>
<div class="callouts">
  <div class="row">
    <div class="large-12">
      <h2>Why use Ralph</h2>
      <div class="row">
        <div class="large-4 columns callout">
          <h3>Flexible</h3>
          <p>Ralph is built on top of Django and Python 3 and is easy to extend and customize without writing boilerplate code. REST API, Workflows code extensions allow for easy customization.</p>
        </div>
        <div class="large-4 columns callout">
          <h3>Easy to use</h3>
          <p>We've chosen the best features of DCIM, Asset Mgmt and CMDB systems to create one, easy and well
            integrated system.
            One interface is easier than 3.</p>
        </div>
        <div class="large-4 columns callout">
          <h3>Open</h3>
          <p><a href="{{ site.repo_link }}">Fork us on github!</a> It is Apache 2.0 Licensed software and yes, we accept patches :)</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callouts white demo">
  <div class="row">
    <h2>Ready to Get Started?</h2>
    <div class="wizard">
      <div class="wizard-block">
        <div class="wizard-step">1</div>
        <div class="wizard-content">
          <div class="row">
            <div class="large-7 columns">
              <h2>Try out our Demo</h2>
              <p>Go to demo and login.</p>
              <a href="{{ site.demo_link }}" class="button success small">Play with Ralph 3!</a>
            </div>
            <div class="large-5 columns">
              <div class="login-box-title">Please login</div>
              <div class="login-box">
                <div class="field">
                  <div class="label">Username:</div>
                  <div class="input">ralph</div>
                </div>
                <div class="field">
                  <div class="label">Password:</div>
                  <div class="input">ralph</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wizard-block">
        <div class="wizard-step">2</div>
        <div class="wizard-content">
          <a href="https://packagecloud.io/" class="right">
            <img height="46" width="158" alt="Private NPM registry and Maven, RPM, DEB, PyPi and RubyGem Repository · packagecloud" src="https://packagecloud.io/images/packagecloud-badge.png" />
          </a>
          <h2>Install Ralph</h2>
          <p>You can install Ralph on your server. We provide DEB package and Docker image for your convenience.</p>
          <a class="button success small" href="{{ site.installation_link }}">Read installation guide</a>
        </div>
      </div>
      <div class="wizard-block">
        <div class="wizard-step">3</div>
        <div class="wizard-content">
          <h2>Read the documentation</h2>
          <p>Discover Ralph's features like: <a href="https://ralph-ng.readthedocs.io/en/stable/user/api/">REST API</a>, <a href="https://ralph-ng.readthedocs.io/en/stable/user/guide/#workflow-system-transitions">transitions (workflows)</a>, <a href="https://ralph-ng.readthedocs.io/en/stable/user/quickstart/#data-center-visualization">DC visualization</a> and more.</p>
          <a href="{{ site.documentation_link }}" class="button success small">Go to the documentation!</a>
        </div>
      </div>
      <div class="wizard-block">
        <div class="wizard-step">4</div>
        <div class="wizard-content">
          <h2>Support</h2>
          <p>There are two offical channels allowing you to get in touch with the people involved in Ralph development:</p>
          <ul>
            <li><a href="{{ site.gitter_link }}">Gitter IM</a> (recommended)</li>
            <li><a href="{{ site.issues_link }}">our bug tracker @ GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callouts contributors white">
  <div class="row">
    <div class="large-6 columns">
      <h2>Core Team</h2>
      <div class="core-team-members">
        {% for member in site.data.contributors %}
          {% if site.data.core_team contains member.login %}
          <div class="member">
            <a href="{{ member.html_url }}">
              <img src="{{ member.avatar_url }}" alt="{{ member.login }}">
              {{ site.data.core_team_with_names[member.login].name }}
            </a>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <h2>Contributors</h2>
      {% for member in site.data.contributors %}
        {% if site.data.core_team contains member.login %}{% else %}
          <a href="{{ member.html_url }}"><img src="{{ member.avatar_url }}" alt="{{ member.login }}"></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
