include AUTHORS README.rst LICENSE
recursive-include doc *.py *.rst *.txt *.html *.css *.js *.png *.git *.jpg *.conf *.bat *.pdf *.docx Makefile
recursive-include src/ralph *
recursive-include requirements/ *

global-exclude *.pyc
global-exclude __pycache__

prune doc/_build
