{% load getvalue from formats %}

<div class="diff-select-widget" id="{{ name }}__diff_select_widget">
    {% if diff %}
        <div class="alert alert-{% if diff.is_equal %}success{% else %}info{% endif %}">
            {% if not diff.is_equal %}
                {% if diff.type == "dicts" %}
                    <span class="badge badge-success">{{ diff.meta.add_items_count }}</span> items was added.&nbsp;
                    <span class="badge badge-important">{{ diff.meta.remove_items_count }}</span> items was removed.&nbsp;
                    <span class="badge badge-warning">{{ diff.meta.change_items_count }}</span> items was changed.&nbsp;
                {% else %}
                    Some changes was detected. If you want edit current value use advanced mode.
                {% endif %}
            {% else %}
                No changes.
            {% endif %}

            <div class="btn-group pull-right" data-toggle="buttons-checkbox" style="display: inline-block;">
                {% if not diff.is_equal and diff.type == "dicts" %}
                    <button type="button" class="btn btn-mini" data-role="show_diff_btn">Display diff</button>
                {% endif %}
                <button type="button" class="btn btn-mini" data-role="show_advanced_mode_btn">Advanced mode</button>
            </div>
        </div>

        <div class="diff-details" data-role="diff-details">
            {% if not diff.is_equal and diff.type == "dicts" %}
                <p><strong>Results diff:</strong></p>
                <table class="table table-condensed table-hover table-bordered" style="width: 100%;">
                    <thead><tr>
                        <th>&nbsp;</th>
                        {% for header in diff.meta.headers %}<th>{{ header }}</th>{% endfor %}
                    </tr></thead>
                    <tbody>{% for row in diff.diff %}
                        <tr class="{% if row.0 == "?" %}warning{% elif row.0 == "+" %}success{% elif row.0 == "-" %}error{% endif %}">
                            <td{% if row.0 == "?" %} rowspan="2"{% endif %} style="vertical-align: middle;">{{ row.0 }}</td>
                            {% for header in diff.meta.headers %}
                                {% if row.0 == "?" %}
                                    {% with row_diff=row.2|getvalue:header %}
                                        <td class="{% if row_diff.0 != "" %}diff-prev{% endif %}"><span>{{ row_diff.1|default:"&nbsp;" }}</span></td>
                                    {% endwith %}
                                {% else %}
                                    <td>{{ row.1|getvalue:header|default:"&nbsp;" }}</td>
                                {% endif %}
                            {% endfor %}
                            {% if row.0 == "?" %}
                                </tr><tr class="warning">
                                {% for header in diff.meta.headers %}
                                    {% with row_diff=row.2|getvalue:header %}
                                        <td class="{% if row_diff.0 != "" %}diff-next{% endif %}"><span>{{ row_diff.2|default:"&nbsp;" }}</span></td>
                                    {% endwith %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}</tbody>
                </table>
            {% endif %}
        </div>
    {% endif %}

    <div class="advanced-mode"{% if diff %} style="display: none;"{% endif %} data-role="advanced-mode">
        {% for option, label in choices %}
            {% if option != "custom" %}
                <label class="radio">
                    <input type="radio" name="{{ name }}" value="{{ option }}" {% if value == option or value in option %}checked="on"{% endif %}>
                    {{ label }}<br>
                    (from <i>{{ option }}</i>)
                </label>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var container = $('#{{ name }}__diff_select_widget');
        $(container).find(
            '[data-role="show_diff_btn"]'
        ).click(function() {
            if ($(this).hasClass('active')) {
                $(container).find('.diff-details').hide();
            } else {
                $(container).find('.diff-details').show();
            }
        });
        $(container).find(
            '[data-role="show_advanced_mode_btn"]'
        ).click(function() {
            if ($(this).hasClass('active')) {
                $(container).find('.advanced-mode').hide();
            } else {
                $(container).find('.advanced-mode').show();
            }
        });
    });
</script>

