{%extends 'cmdb/base.html'%}


{% load icons %}
{% load query %}

{% block content %}

<style type="text/css" media="screen">
    form.form-inline select
    {
        width: auto;
    }
    table.dboard td,table.dboard th
    {
            padding: 6px;
    }
    .placeholder
    {
        margin: 10px; 
    }

</style>


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var values = new Array();

        $(function () {
            var data_ready=[];

            $.get("/cmdb/changes/dashboard_ajax", function(data)
            {
                $.each(data.data, function(index, value)
                {
                    var ph = $("#placeholder_"+index);
                    var d1 = [];
                        $.each(value, function(index,value)
                        {
                            //console.log(index,value);
                            d1.push([index, value['count']]);
                        }
                        );
                        jQuery.plot(ph, [ d1 ]);
                });

            });
            });
    </script>
{% endblock %}

<div class='span12'>
<h3> CMDB Dashboard  </h3>
{% for type,prios in statistics.items%}
<hr>
<h4> Type: {{ type }} </h4>
<ul>
                {% for prio,priovalues in prios.items %}
                <table>
                    <tr>
                    <td style='padding: 10px'>
                         <span class='label label-info'> Level: {{ prio }} </span>
                         <table class='dboard' style='margin: 10px; border-collapse: collapse; border: solid 1px blue; ' >
                             <tr style='background-color:#05c; color: white'>
                                 <th> Month</th>
                                 <th> Count </th>
                                 <th colspan=2>Options</th>
                            </tr>
                            {% for month,data in priovalues.items %}
                            <tr>
                                <td style='padding: 6px'>{{ data.month_name}}  </td>
                                <td><b>{{ data.count}}</b></td>
                                <td>
                                        <a href='/cmdb/changes/dashboard_details/{{data.type}}/{{ data.priority }}/{{month}}/ci'> View by CI  </td>
                                <td>
                                        <a href='/cmdb/changes/dashboard_details/{{data.type}}/{{ data.priority}}/{{month}}/ventures'> View by Ventures  </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <div class='placeholder' id='placeholder_{{priovalues.items.1.1.type}}_{{priovalues.items.1.1.priority}}'
                            style='display: inline-block; float: left; height: 100px;width: 200px;'> 
                        </div>
                    </td>
                    </tr>
                </table>
                {% endfor %}
</ul>
{% endfor %}

</div>
{% endblock %}
