{%extends 'cmdb/base.html'%}


{% load icons %}
{% load query %}

{% block content %}



<style type="text/css" media="screen">

    form.form-inline select
    {
        width: auto;
    }

    table.dboard td
    {
            padding: 6px;
    }

</style>
<div class='span12'>
<h3> CMDB Dashboard  </h3>


         <table class='table table-striped table-bordered table-list dboard' style='margin: 10px; ' >
             <tr><th> Count </th><th> CI Name </th> <th> Venture </th></tr>
                {% for data in statistics %}
                            <tr>
                                <td>
                                    {{ data.0 }}  
                                </td>
                                <td>
                                    <a href='/cmdb/changes/changes?uid={{data.1}}&priority={{data.4}}&type={{data.5}}'> {{ data.1 }}  
                                </td>
                                <td>
                                    {{ data.3 }}  
                                </td>
                            </tr>
                {% endfor %}
          </table>
      {% include 'cmdb/include_pagination.html' %}
      </div>
{% endblock %}
