{%extends 'cmdb/base.html'%}

{% load icons %}
{% load query %}
{% block content %}

<style>
    #placeholder
    {
        padding: 30px; 
        width: 800px; 
        height: 340px; 
        background-color: white; 
        border: solid #ccc 1px;
    }
    .pointer
    {
        font-size: 13px; 
        cursor: pointer;
    }
    .row_error
    {
        background-color: #faa;

    }

</style>

<h3>Timeline view -  weekly events</h3>

<div class='span10'>
    <div id='placeholder'>
        <b>Loading please wait...</b>
    </div>

    <div id='selection' style='color: green'>
    </div>
    <br>
    
    <div class='span10'>
        <p>
        <div id='changes_table_container'>
            <table id='changes_table' class='table table-striped table-bordered table-condensed'>
            </table>
        </div>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="{{ STATIC_URL }}mustache.js"></script>
<script src="{{ STATIC_URL }}jquery.flot.selection.js"></script>
<script src="{{ STATIC_URL }}cmdb/timeline.js"></script>

<script type="text/javascript">
    $(function(){
        load_data();
    });
</script>

{% endblock %}

