{%extends 'cmdb/base.html'%}

{% load icons %}
{% load query %}
{% block content %}

<style>
    #placeholder
    {
        padding: 30px; 
        width: 800px; 
        height: 340px; 
        background-color: white; 
        border: solid #ccc 1px;
    }
    .pointer
    {
        font-size: 13px; 
        cursor: pointer;
    }

</style>

<h3> Timeline view -  weekly events  </h3>

<div class='span10'>
    <div id='placeholder'>
        <b>Loading please wait...</b>
    </div>

    <div id='selection' style='color: green'>
    </div>
    
    <div class='span6'>
        <p>
        <div id='changes_table_container'>
            <table id='changes_table' class='table table-striped table-bordered table-condensed'>
            </table>
        </div>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="{{ STATIC_URL }}jquery.flot.selection.js"></script>

    <script type="text/javascript">
        function load_data()
        {
            $.get("/cmdb/changes/timeline_ajax", function(data)
                {
                setup(data);
                }).error(function(e){
                    alert('Error loading data.');
                    console.log(e.responseText);
                });
        }

        function handle_manual_click()
        {
            var display = this.event.currentTarget.previousSibling.style.display='block';
            display.style.display='block';
            display.style.fontSize='30px';
        }

        function annotate_manual(plot, data, min, max)
        {
            $("#changes_table").html('<tr><th>Time</th><th>Comment</th><th>Author</th><th>View</th></tr>');
            var aggregatedData = [];
            var text_content = '';
            var day_and_hour;
            var d;
            var href_link;
            for (var i=0; i<data.length;i++)
            {
                obj = data[i];
                href_link = '<a href="/cmdb/changes/change/' + obj['id'] + '"> View </a>';
                d = new Date(data[i].time);
                t = d.getTime(); 
                if (t<min || t>max){ continue }
                day_and_hour = t;
                o = plot.pointOffset({ x: d, y: plot.getAxes().yaxis.datamax});
                text_content = '<div style="display:none">' + data[i].comment + '</div>'+
                    '<div class="pointer" onclick="handle_manual_click()"> * </div>' ;
                $("#changes_table").append('<tr><td>'+d+'</td><td>'+data[i].comment+'</td><td>'+data[i].author+'</td><td>'
                        + href_link + '</td></tr>');
                $("#placeholder").append('<div style="position:absolute;left:' + (o.left + 4) + 'px;top:' + o.top +
                            'px;">'+text_content+'</div>');
            }
        }

    function aggregate(data)
    {
        var aggregatedData = [];
        for (var i=0; i<data.length;i++)
        {
            var d = new Date(data[i].time);
            d.setMinutes(0);
            d.setSeconds(0);
            d = d.getTime(); // flot required conversion.
            var day_and_hour = d;//d.strftime('%y-%m-%d %H');
            aggregatedData[day_and_hour] = 
                aggregatedData[day_and_hour] ? 
                aggregatedData[day_and_hour]+1 : 1;
        }
        var keys = [];
        for (var key in aggregatedData) {
          if (aggregatedData.hasOwnProperty(key)) {
                      keys.push([key, aggregatedData[key]]);
          }
        }
        return keys;
    }

    function setup(data) 
    {
        var options = {
        xaxis: { mode: "time", timeformat: "%d/%m %h:%M" },
        series: {
            lines: { show: true },
            points: { show: true }
        },
        selection: {
             mode:  "x",
             color: 'yellow'
        }
    };
    var data_warnings = aggregate(data.agent_warnings);
    var data_errors = aggregate(data.agent_errors);

    var plotdata = [
        {'label' : 'Puppet warnings', 'data' : data_warnings, 'clickable' : true},
        {'label' : 'Puppet errors', 'data' : data_errors},
    ];

    var placeholder = $("#placeholder");
    placeholder.bind("plotselected", function (event, ranges){
        plot = $.plot(placeholder, plotdata,
            $.extend(true, {}, options, {
                xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
        }));
        annotate_manual(plot, data.manual, ranges.xaxis.from, ranges.xaxis.to);
    });

    placeholder.bind("plotunselected", function (event) {
        //$("#selection").text("Click drawing to unselect");
        options['xaxis'] =  { mode: "time", timeformat: "%d/%m %h:%M" },
        plot = $.plot(placeholder, plotdata , options);
        plot.setSelection({ xaxis: { from: 0, to: 0 } });
        plot.setupGrid();
        plot.draw();
        annotate_manual(plot, data.manual);
    });
   
    plot = $.plot(placeholder, plotdata , options);
    annotate_manual(plot, data.manual);
};

$(function(){
    load_data();
});

</script>
{% endblock %}

