{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{# from reversion/change_list.html #}
{% block object-tools-items %}
    {% for view in extra_views %}
        <li><a href="{{ view.url }}">{{ view.label }}</a></li>
    {% endfor %}
    {% if not is_popup %}
        <li><a href="{{recoverlist_url}}" class="recoverlink">{% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted {{name}}{% endblocktrans %}</a></li>
    {% endif %}
    {{block.super}}
{% endblock %}

{% block content %}
{% if not is_popup %}
  {% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li>
    <li class="current">{{ cl.opts.verbose_name_plural }}</li>
  </ul>
  {% endblock %}
{% endif %}
  {{ block.super }}
{% endblock %}
