{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{# from reversion/change_list.html #}
{% block object-tools-items %}
    {% for view in extra_views %}
        <li><a href="{{ view.url }}">{{ view.label }}</a></li>
    {% endfor %}
    {% if not is_popup %}
        <li><a href="{{recoverlist_url}}" class="recoverlink">{% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted {{name}}{% endblocktrans %}</a></li>
    {% endif %}
    {{block.super}}
{% endblock %}
