{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}
  {% trans "Asset missing" %}
{% endblock %}

{% block content %}
<div id="content-main" class="row">
  <div class="large-12 columns">
    <h1>{% trans "" %}</h1>
    <p>
      {% blocktrans %}
        If you do not physically have assigned asset
        report this fact on the site below: 
      {% endblocktrans %}
    </p>
    <p>
      <a href="{{ settings.MISSING_ASSET_REPORT_URL }}">
        {{ settings.MISSING_ASSET_REPORT_URL }}
      </a>
    </p>
  </div>
</div>
{% endblock %}
