{% extends BASE_TEMPLATE %}
{% load i18n %}
{% block view_content %}
<div class="large-12 columns">
  <table class="full">
   <thead>
      <tr>
        <th>{% trans "Licence  Type" %}</th>
        <th>{% trans "Inventory number" %}</th>

        <th>{% trans "Manufacturer" %}</th>
        <th>{% trans "Software Category" %}</th>
        <th>{% trans "Number of purchased items" %}</th>
        <th>{% trans "Used" %}</th>
        <th>{% trans "Invoice date" %}</th>
        <th>{% trans "Invoice no." %}</th>
        <th>{% trans "Valid thru" %}</th>
        <th>{% trans "Created" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in licences %}
        <tr>
          <td>{{ item.licence_type }}</td>
          <td>{{ item.niw }}</td>
          <td>{{ item.manufacturer }}</td>
          <td>{{ item.software_category }}</td>
          <td>{{ item.number_bought }}</td>
          <td>{{ item.used }}</td>
          <td>{{ item.invoice_date }}</td>
          <td>{{ item.invoice_no }}</td>
          <td>{{ item.valid_thru }}</td>
          <td>{{ item.created }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
