{% extends BASE_TEMPLATE %}
{% load i18n %}
{% block view_content %}

{% block bodyclass %}security-tab{% endblock%}

<h1>{% trans "Security scan" %}</h1>
  {% if security_scan %}
    <table>
      <!--
      if host has to be displayed then ip address should be saved on
      <tr>
        <td>{% trans "host ip:" %}</td>
        <td>security_scan.asset</td>
      </tr>
      -->
      <tr>
        <td>{% trans "last scan date" %}</td>
        <td>{{ security_scan.last_scan_date|date:"o-m-d" }}</td>
      </tr>
      <tr>
        <td>{% trans "scan status" %}</td>
        <td>{{ security_scan.scan_status_verbose }}</td>
      </tr>
      <tr>
        <td>{% trans "next scan date" %}</td>
        <td>{{ security_scan.next_scan_date|date:"o-m-d" }}</td>
      </tr>
      <tr>
        <td>{% trans "details" %}</td>
        <td><a href='{{ security_scan.details_url }}'>{{ security_scan.details_url|default:"-"}}</a></td>
      </tr>
      <tr>
        <td>{% trans "request for a scan" %}</td>
        <td><a href='{{ security_scan.rescan_url }}'>{{ security_scan.rescan_url|default:"-"}}</a></td>
      </tr>
    </table>
  {% else %}
    <p>{% trans "No scan so far" %}</p>
  {% endif %}


  <h3>{% trans "Vulnerabilities" %}</h3>

  {% if security_scan.vulnerabilities.all %}
    <table>
      <tr>
        <th>{% trans "name" %}</th>
        <th>{% trans "risk" %}</th>
        <th>{% trans "patch deadline" %}</th>
      </tr>
    {% for v in security_scan.vulnerabilities.all %}
      <tr>
        <td>{{ v.name }}</td>
        <td>{{ v.risk_verbose }}</td>
        <td
          {% if v.is_deadline_exceeded %}
            class='exceeded_deadline'
          {% endif %}
        >
          {{ v.patch_deadline }}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>{% trans "No vulnerabilities found for this scan" %}</p>
  {% endif %}
{% endblock %}
