{% extends BASE_TEMPLATE %}
{% load i18n %}
{% block view_content %}
<div class="row">
  <div class="large-5 columns">
    <h5>Data classification</h5>
    <table class="full">
      <thead>
        <tr>
          <th>{% trans "Label" %}</th>
          <th>{% trans "Version" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data_classification %}
          <tr>
            <td>{{ item.label }}</td>
            <td>{{ item.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="large-7 columns">
    <h5>Log location</h5>
    <table class="full">
     <thead>
        <tr>
          <th>{% trans "Path" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in logs %}
          <tr>
            <td>{{ item }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h5>Critical Patch Updates</h5>
    <table class="full">
      <thead>
        <tr>
          <th>{% trans "Critical Patch Update" %}</th>
          <th>{% trans "Latest Version/Date" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in critical_pathes %}
          <tr>
            <td>{{ item.label }}</td>
            <td>{{ item.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
