@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700,400italic,700italic);
@import url("bootstrap/css/bootstrap.css");

td.label {
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    vertical-align: inherit;
    white-space: inheirt;
    text-shadow: none;
    background-color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
div.document {
    margin: 2em 0;
}

a.headerlink {
    visibility: hidden;
    font-weight: normal;
    font-size: 75%;
    line-height: 100%;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink {
    visibility: visible;
}

.localtoc li {
    list-style: none;
}
.localtoc li a {
    display: block;
}
.localtoc ul {
    padding: 0;
    margin: 0;
}
.localtoc ul ul {
    padding: 0 0 0 0.5em;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.brand img.logo {
    margin: -6px 8px -4px 0;
}

.navbar a.brand {
    color: #FF9B66;
}

.document {
    min-height: 40em;
}

.footer {
    display: none;
}

#powered-by {
  margin: 2em auto 0 auto;
}

#powered-by td {
  padding-right: 4em;
}

h1,h2,h3,h4 {
    font-family: "Apple Gothic",AppleGothic,"Century Gothic","URW Gothic L","Avant Garde",Futura,sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

.ralph-text-header {
    width: 30%;
    height: 30%;
    opacity: 0.8;
}

.hero-unit {
    background: url(data-center-from-wiki.jpg);
    background-repeat: repeat-x;
}

.hero-unit-inset {
    background-color: white;
    opacity: 0.88;
    padding: 30px;
    border-radius: 10px;
}

.shadow {
    -webkit-box-shadow: 4px 0px 30px 0px rgba(77, 61, 50, 0.56);
    -moz-box-shadow:    4px 0px 30px 0px rgba(77, 61, 50, 0.56);
    box-shadow:         4px 0px 30px 0px rgba(77, 61, 50, 0.56);
}

.promo-background-assets-search {
    background: url(ralph_assets_search.png);
    width: 500px;
    height: 230px;
    background-position: -250px -150px;
    background-repeat: no-repeat;
}

.promo-background-assets-add {
    background: url(ralph_assets_edit.png);
    width: 500px;
    height: 300px;
    background-position: -250px -150px;
    background-repeat: no-repeat;
    box-shadow: #000 10px;

}

.promo-background-core-scan {
    background: url(ralph_core_scan_summary.png);
    width: 800px;
    height: 260px;
    background-repeat: no-repeat;
    background-position: -150px -150px;
    box-shadow: #000 10px;
}

.promo-background-core-deploy {
    background: url(ralph_core_dhcp_dns.png);
    width: 500px;
    height: 249px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: #000 10px;
}

.promo-background-cmdb-jira {
    background: url(ralph_core_cmdb.png);
    width: 930px;
    height: 377px;
    background-repeat: no-repeat;
    box-shadow: #000 10px;
}

.promo-background-scrooge-calculation {
    background: url(ralph_scrooge_report.png);
    width: 800px;
    height: 300px;
    background-position: -6px 0px ;
    background-repeat: no-repeat;
    box-shadow: #000 10px;
    margin-bottom: 30px;
}

.center {
    text-align: center;
    margin-left: auto; margin-right: auto
}

.promo-distance {
    padding-top: 100px;
}

.promo-story-1 h1 {
    margin-bottom: 50px;
    color: #333;
}

.promo-story-2 h1 {
    margin-bottom: 50px;
    color: #666;
}

.promo-story-1 {
    background: linear-gradient(to bottom, rgba(244, 192, 143, 0.47) 0%, #FFFFFF 100%);
    padding-bottom: 100px;
}

.promo-story-2 {
    background: #eee;
}

.promo-story-1 .img {
    border: solid orange 5px;
}

.promo-story-2 .img {
    border: solid #ccc 3px;
}

