@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700,400italic,700italic);
@import url("bootstrap/css/bootstrap.css");

td.label {
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    vertical-align: inherit;
    white-space: inheirt;
    text-shadow: none;
    background-color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
div.document {
    margin: 2em 0;
}

a.headerlink {
    visibility: hidden;
    font-weight: normal;
    font-size: 75%;
    line-height: 100%;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink {
    visibility: visible;
}

.localtoc li {
    list-style: none;
}
.localtoc li a {
    display: block;
}
.localtoc ul {
    padding: 0;
    margin: 0;
}
.localtoc ul ul {
    padding: 0 0 0 0.5em;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.brand img.logo {
    margin: -6px 8px -4px 0;
}

.navbar a.brand {
    color: #FF9B66;
}

.document {
    min-height: 40em;
}

.footer {
    background: #555;
    padding: 9px;
    color: #eee;
  border: 1px solid #444;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#powered-by {
  margin: 2em auto 0 auto;
}

#powered-by td {
  padding-right: 4em;
}
