<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} &mdash; Ralph</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/extra.css">
    <link rel="top" title="Ralph" href="/" />
</head>

<body>
    <nav class="top-bar" data-topbar="">
        <ul class="title-area">
            <li class="name">
                <h1 id="site-name"><a href="/">Ralph 3</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li>
                    <a href="/news.html">News</a>
                </li>
                <li>
                    <a href="{{ site.installation_link }}">How to install?</a>
                </li>
                <li>
                    <a href="{{ site.documentation_link  }}">Documentation</a>
                </li>
            </ul>
        </section>
    </nav>
