@import 'foundation/components/alert-boxes';

.alert-box.info:before {
    @include fa-icon();
    font-size: 1.5rem;
    content: $fa-var-info;
    vertical-align: middle;
    margin: 0.5rem;
}

.alert-box.static {
    border-style: dashed;
    .close {display: none}
}
