fieldset {
    margin: 0 0 20px 0;
    box-shadow: 0 0 3px rgba(150, 150, 150, 0.4);
    border: none;
    background: $fieldset-bg-color;
    legend {
        color: $oil;
        font-size: rem-calc(14);
        background: transparent;
    }
}


.help-text {
    position: absolute;
    right: -13px;
    top: 11px;
}
