fieldset {
    background:  $fieldset-bg-color;
    border: 0;
    margin-top: 0px;
    position: relative;
    padding-top: 4rem;
    border: 1px solid $gainsboro;
    legend {
        padding: 0 0.3rem;
        color: $charcoal;
        font-size: 1.2rem;
    }
    &.module {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        margin-bottom: 1rem;
    }
}


.help-text {
    position: absolute;
    right: -13px;
    top: 0.6rem;
}

.read-only {
    display: block;
    padding: 0.5rem 0;
}
