form .row .related-widget-wrapper.row {
    margin-left: 0;
    .widget {
        display: flex;
        flex-direction: row;
        align-items: center;

        .related-widget-wrapper-link {
            margin: 3px;
        }
        ul, ul li, ul li label, ul li label input {
            padding: 0;
            margin: 0;
        }

        ul {
            list-style: none;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;

          li {
              padding: 0.25rem 1rem 0.25rem 0;
          }
        }
    }
}