.tabs {
    vertical-align: middle;
    margin-bottom: -1px;
    ul, li {
        padding: 0;
        margin: 0;
    }
    ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        li {
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
            list-style-type: none;
            text-align: center;
            margin-right: 3px;
            a {
                background-color: $tabs-content-bg-color;
                border: 1px solid $tabs-border-color;
                border-bottom: 0;
                font-size: $button-font-med;
                padding: rem-calc(8 16);
                padding-bottom: rem-calc(7);
                margin-top: 3px;
                .tab-label {
                    display: none;
                }
            }
            &:last-child a {
            }
            &.active a, a:hover {
                margin-top: 0;
                border-top: 4px solid $mdc-orange-500;
                background-color: $tabs-content-bg-color;
            }
            &.active a {
                border-bottom: 1px solid $tabs-content-bg-color;
            }
        }
    }
}

@media #{$medium-up} {
    .tabs ul li a .tab-label {
        display: inline;
    }
}
