<style type="text/css">
    .das-container {
        padding: 3px;
    }
    .das-model {
        color: red;
    }
    .das-sn {
        color: green;
    }
    .das-barcode {
        color: blue;
    }
</style>
