{% load i18n %}

{% if action_form %}
  <div class="actions">
    <h4>{% trans "Actions" %}</h4>
    {% for field in action_form %}
      {{ field }}
    {% endfor %}

    <button type="submit" class="button small" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">
      {% trans "Go" %}
    </button>
    {% if actions_selection_counter %}
      <span class="action-counter" data-actions-icnt="{{ cl.result_list|length|default:"0" }}">{{ selection_note }}</span>
    {% endif %}
  </div>
{% endif %}
