{% load i18n admin_static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    {% block extrastyle %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/ralph.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation-datepicker.css" %}">
    <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/foundation-datepicker.js" %}"></script>
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% static '' %}";</script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% if not is_popup %}
      <nav class="top-bar" data-topbar="">
        <section class="top-bar-section">
          <ul class="title-area">
            <li class="name">
              {% block branding %}{% endblock %}
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          {% include 'ralph_admin/partials/top_bar.html' %}
          <ul class="right">
            {% block usertools %}
              {% if has_permission %}
                {% block welcome-msg %}
                  <li class="has-dropdown not-click">
                    <a href="">
                      {% firstof user.get_short_name user.get_username %}
                    </a>
                    <ul class="dropdown">
                      {% block userlinks %}
                        {% include 'ralph_admin/partials/userlinks.html' %}
                      {% endblock %}
                    </ul>
                  </li>
                {% endblock %}
              {% endif %}
            {% endblock %}
            {% block nav-global %}{% endblock %}
          </ul>
        </section>
      </nav>
    {% endif %}
    {% block breadcrumbs %}{% endblock %}
    {% if messages %}
      <div class="row">
        <div class="small-12 columns">
          {% for message in messages %}
            <div data-alert class="alert-box radius {{ message.tags }}">
              {{ message }}
              <a href="#" class="close">&times;</a>
            </div>
         {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="large-12 columns">
      <div id="magicsuggest"></div>
        {% block content %}{% endblock %}
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $(document).foundation();
        $('.datepicker').fdatepicker();
      });
    </script>
  </body>
</html>
