{% load ralph_tags i18n admin_static sitetree admin_list %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} class="no-js">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    {{ media.css }}
    <link rel="stylesheet" type="text/css" href="{% static "vendor/css/foundation-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ralph.css" %}" />
  </head>
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    {% if not is_popup %}
      <nav class="top-bar" data-topbar="">
        <section class="top-bar-section">
          <ul class="title-area">
            <li class="name">
              {% block branding %}{{ site_header }}{% endblock %}
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
           {% sitetree_menu from "ralph_admin" include "trunk" template "admin/menu_admin.html" %}
          <ul class="right">
            <li class="has-form"> {% contextual_search_form search_url search_fields %} </li>
            {% block usertools %}
              {% if has_permission %}
                {% block welcome-msg %}
                  <li class="has-dropdown not-click">
                    <a href="">
                      {% firstof user.get_short_name user.get_username %}
                    </a>
                    <ul class="dropdown">
                      {% block userlinks %}
                        {% include 'admin/partials/userlinks.html' %}
                      {% endblock %}
                    </ul>
                  </li>
                {% endblock %}
              {% endif %}
            {% endblock %}
            {% block nav-global %}{% endblock %}
          </ul>
        </section>
      </nav>
      {% sitetree_breadcrumbs from "ralph_admin" template "admin/breadcrumbs_foundation.html" %}
    {% endif %}
    {% if messages %}
      <div class="row">
        <div class="small-12 columns">
          {% for message in messages %}
            <div data-alert class="alert-box radius {{ message.tags }}">
              {{ message }}
              <a href="#" class="close">&times;</a>
            </div>
         {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="large-12 columns content">
      <div id="magicsuggest"></div>
        {% block content %}{% endblock %}
      </div>
    </div>
    {{ media.js }}
    {% include 'admin/includes/javascripts.html' %}
    {% block extra_scripts %}{% endblock %}
    {% block admin_change_form_document_ready %}
      <script type="text/javascript">
        (function($) {
          $(document).ready(function() {
            $('.add-related').click(function(e) {
              e.preventDefault();
              showAddAnotherPopup(this);
            });
            $('.related-lookup').click(function(e) {
              e.preventDefault();
              showRelatedObjectLookupPopup(this);
            });
            $('.change-related').click(function(e) {
              e.preventDefault();
              showRelatedObjectPopup(this);
            });
          {% if adminform and add %}
            $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
          {% endif %}
          });
        })(django.jQuery);
      </script>
    {% endblock %}
  </body>
</html>
