{% load i18n admin_static sitetree admin_list %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    {% block extrastyle %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "vendor/css/foundation-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ralph.css" %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    {% if not is_popup %}
      <nav class="top-bar" data-topbar="">
        <section class="top-bar-section">
          <ul class="title-area">
            <li class="name">
              {% block branding %}{{ site_header }}{% endblock %}
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
           {% sitetree_menu from "ralph_admin" include "trunk" template "ralph_admin/menu_admin.html" %}
          <ul class="right">
            <li class="has-form">
              {% if cl %}
                {% search_form cl %}
              {% endif %}
            </li>
            {% block usertools %}
              {% if has_permission %}
                {% block welcome-msg %}
                  <li class="has-dropdown not-click">
                    <a href="">
                      {% firstof user.get_short_name user.get_username %}
                    </a>
                    <ul class="dropdown">
                      {% block userlinks %}
                        {% include 'ralph_admin/partials/userlinks.html' %}
                      {% endblock %}
                    </ul>
                  </li>
                {% endblock %}
              {% endif %}
            {% endblock %}
            {% block nav-global %}{% endblock %}
          </ul>
        </section>
      </nav>
    {% endif %}
      {% sitetree_breadcrumbs from "ralph_admin" template "ralph_admin/breadcrumbs_foundation.html" %}
    {% if messages %}
      <div class="row">
        <div class="small-12 columns">
          {% for message in messages %}
            <div data-alert class="alert-box radius {{ message.tags }}">
              {{ message }}
              <a href="#" class="close">&times;</a>
            </div>
         {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="large-12 columns content">
      <div id="magicsuggest"></div>
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'admin/includes/javascripts.html' %}
    {% block extrahead %}{% endblock %}
  </body>
</html>
