{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block content %}
{% if perms_lacking %}
    <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
    <ul>
    {% for obj in perms_lacking %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% elif protected %}
    <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}</p>
    <ul>
    {% for obj in protected %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% else %}
    <div data-alert class="alert-box warning radius">
      {% blocktrans with escaped_object=object %}
        Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:
      {% endblocktrans %}
    </div>
    {% include "admin/includes/object_delete_summary.html" %}
    <div class="panel">
      <h2>{% trans "Objects" %}</h2>
      <ul class="side-nav">{{ deleted_objects|unordered_list }}</ul>
      <form action="" method="post">{% csrf_token %}
      <div>
      <input type="hidden" name="post" value="yes" />
      {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
      {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
      <input type="submit" class="button alert" value="{% trans "Yes, I'm sure" %}" />
      <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
      </div>
      </form>
    </div>
{% endif %}
{% endblock %}
