{% load admin_change_list i18n %}
<div class="admin-bottom pagination">
  {% if page_range %}
    <div class="row">
      <div class="small-12 columns pagination-centered">
        <ul class="pagination">
        {% if pagination_required %}
            {% for i in page_range %}
             {% admin_paginator_number cl i %}
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="small-{% if cl.formset %}6{% else %}12{% endif %} columns count-info">
      {{ cl.result_count }}
      {% ifequal cl.result_count 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endifequal %}
      {% if show_all_url %}
          &nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>
      {% endif %}
    </div>
    {% if cl.formset and cl.result_count %}
      <div class="small-6 columns right_section">
            <input type="submit" name="_save" class="default button success small right radius" value="{% trans 'Save' %}"/>
     </div>
    {% endif %}
  </div>
</div>
