{% load ralph_tags i18n admin_static %}

{% if search_fields %}
  <form id="changelist-search" action="{{ search_url }}" method="get">
    <div class="row collapse">
      <div class="small-9 columns">
        <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" placeholder="{% trans "Search by" %} {{ search_fields|join:", " }}" />
        {% if cl.is_popup %}
            <input type="hidden" size="40" name="_popup" value="1" />
        {% endif %}
      </div>
      <div class="small-3 columns">
        <button type="submit" class="button expand search">
          <i class="fa fa-search"></i> {% trans 'Search' %}
        </button>
      </div>
    </div>
  </form>
  {% for pair in cl.params.items %}
    {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
  {% endfor %}

<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
