{% load i18n admin_urls %}

<div class="admin-bottom bottom">
  <div class="row">
    {% if show_delete_link %}
      <div class="small-1 columns">
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="deletelink button small alert radius left_margin">{% trans "Delete" %}</a>
      </div>
    {% endif %}
    <div class="small-{% if show_delete_link %}11{% else %}12{% endif %} columns text_right right_section">
      {% block additional_buttons %}{% endblock %}
      <ul class="button-group radius right">
        {% if multi_add_url or multi_add_field %}
          <li>
            {% if multi_add_url %}
              <a href="{{ multi_add_url }}" class="default button small info">
                {% trans "Duplicate" %}
              </a>
            {% endif %}
            {% if multi_add_field %}
              <input type="submit" value="{% trans 'Bulk add' %}" class="default button small info" name="_multi_add" />
            {% endif %}
          </li>
        {% endif %}
        {% if show_save %}
          <li>
            <input type="submit" value="{% trans 'Save' %}" name="_continue" class="button small success" />
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
