{% load i18n %}
<auto-complete
  name="{{name}}"
  {{ attrs }}
  value="{{ value }}"
  {{multi}}
  query-ajax-url="{{ data_suggest_url }}"
  detailsurl="{{ data_details_url }}"
> <!-- TODO:: `detailsurl` should work as search-url -->
  <a href="{{ related_url }}" class="related-lookup" id="lookup_id_{{ name }}">
    <i class="fa fa-search"></i>
  </a>
  {% if add_related_url %}
    <a class="related-widget-wrapper-link add-related" id="add_id_{{ name }}"
      href="{{ add_related_url }}?_popup=1">
        <i class="fa fa-plus-circle"></i>
    </a>
  {% endif %}
  {% if show_tooltip %}
    <i data-tooltip class="has-tip fa fa-info-circle" title="{{ tooltip }}"></i>
  {% endif %}

</auto-complete>

{% comment %}
<div class="autocomplete-widget{% if not current_object %} edit{% endif %}"{{ attrs }} data-empty-value={{ empty_value }} data-is-empty={{ is_empty }}>
    <div class="widget-wrapper">
        <div class="item-wrapper">
            <div class="item">
                <div class="title" title="{{ current_object }}">{{ current_object }}</div>
                {% if show_tooltip %}
                  <i data-tooltip class="has-tip fa fa-info-circle" title="{{ tooltip }}"></i>
                {% endif %}
                <div class="autocomplete-icons">
                    <a class="related-widget-wrapper-link change-related{% if not change_related_template_url %} hide{% endif %}" id="change_id_{{ name }}"
                        href="{{ change_related_template_url }}?_popup=1"
                        title="{% blocktrans %}Change selected {{ model }}{% endblocktrans %}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <i class="fa fa-times delete"></i>
                </div>
            </div>
        </div>
        <input class="input" type="text" placeholder="{% trans 'Search by' %} {{ searched_fields|slice:":2"|join:", " }}"/>
        <div class='widget-icons'>
        {% if searched_fields_tooltip|slice:":2" %}
          <i data-tooltip class="has-tip fa fa-info-circle" title='{% trans 'Search by' %}<br />
          {% for model, fields in searched_fields_tooltip.items %}
            {{ model|capfirst }}:<br />
              {% for field in fields %}
                - {{ field }}<br />
              {% endfor %}
          {% endfor %}
          '>
          </i>

        {% endif %}
          <a href="{{ related_url }}" class="related-lookup" id="lookup_id_{{ name }}">
              <i class="fa fa-search"></i>
          </a>
          {% if add_related_url %}
            <a class="related-widget-wrapper-link add-related" id="add_id_{{ name }}"
                href="{{ add_related_url }}?_popup=1"
                title="{% blocktrans %}Add another {{ model }}{% endblocktrans %}"
            >
                <i class="fa fa-plus-circle"></i>
            </a>
          {% endif %}
        </div>
        <div class="status">
            <i class="loader fa fa-refresh fa-spin"></i>
            <i data-tooltip class="has-tip fail fa fa-exclamation" title="{% trans 'Something goes wrong...' %}"></i>
        </div>
    </div>
    <ul class="suggest-list" style="display: none;">
        <li class="template item" data-edit-url=""><a class="link" href="#"></a></li>
        <li class="template no-results">{% trans 'No results' %}</li>
    </ul>
    {{ input_field }}
</div>
{% endcomment %}
