{% spaceless %}
{% load url from future %}
{% load icons %}
{% load query %}

{% if sortable %}
{% if always or name in columns %}
<th class="column-head-{{ name }}">{{ label }}&nbsp;{% if sort == name %}<a
        href="?{{ url_query|query_sort_desc:name }}"
        class="fugue-icon fugue-sort-{{ type|default:'alphabet' }} pull-right"
    ></a>{% else %}{%  if sort|cut:'-' == name %}<a
        href="?{{ url_query|query_sort:name }}"
        class="fugue-icon fugue-sort-{{ type|default:'alphabet' }}-descending pull-right"
    ></a>{%  else %}<a
        href="?{{ url_query|query_sort:name }}"
        class="fugue-icon fugue-sort pull-right"
        ></a>{%  endif %}{% endif %}</th>{% endif %}
{% else %}
<th>
    {{ label }}
</th>

{% endif %}
{% endspaceless %}
