{%extends 'cmdb/base.html'%}
{% load icons %}
{% load query %}
{% load bob %}

{% block content %}

<style type="text/css" media="screen">
    form.form-inline select
    {
        width: auto;
    }
</style>

<div class='span5'>
    <h3>CMDB Dashboard   - {{ report_name }}</h3>
    <hr>
    <table class='table table-striped table-bordered ' >
        <tr>
            <th> Venture </th>
            <th> Count </th>
            <th> Options </th>
        </tr>

       {% for data in statistics %}
         <tr>
             <td>{{ data.0.name }}</td>
             <td>{{ data.0.count }}</td>
             <td><a href='ci?venture_id={{data.1}}'> View </a>   </td>
         </tr>
       {% endfor %}
     </table>
</div>
{% endblock %}
