{%extends 'cmdb/base.html'%}

{% load bob %}
{% load icons %}

{% block scripts %}
    <!-- from now, include parent jquery version for normal use. !-->
    {{ block.super }}
    <!--
    <script type="text/javascript" src="{{STATIC_URL}}cmdb/VivaGraphJS/vivagraph.js"></script>
    !-->
    <script type="text/javascript" src="{{STATIC_URL}}cmdb/d3.v2.min.js"></script>
    <script type="text/javascript">

        function main(){
            var radius =12860 / 2;
             
             var tree = d3.layout.tree()
                 .size([360, radius - 120])
                 .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });
             
             var diagonal = d3.svg.diagonal.radial()
                 .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });
             
             var vis = d3.select("#chart").append("svg")
                 .attr("width", radius * 2)
                 .attr("height", radius * 2 - 150)
               .append("g")
                 .attr("transform", "translate(" + radius/2 + "," + radius/2 + ")");
             
             d3.json("/cmdb/graphs_ajax", function(json) {
               var nodes = tree.nodes(json);
             
               var link = vis.selectAll("path.link")
                   .data(tree.links(nodes))
                 .enter().append("path")
                   .attr("class", "link")
                   .attr("d", diagonal);
             
               var node = vis.selectAll("g.node")
                   .data(nodes)
                 .enter().append("g")
                   .attr("class", "node")
                   .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
             
               node.append("circle")
                   .attr("r", 4.5);
             
               node.append("text")
                   .attr("dy", ".31em")
                   .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
                   .attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
                   .text(function(d) { return d.name; });
             });
        }

        function mainer() {
            var graph = Viva.Graph.graph();
            $.get("/cmdb/graphs_ajax", function(data)
                {
                console.log(data);
                        for (var i=0; i<data.nodes.length; i++)
                        {
                           graph.addNode(data.nodes[i][0], data.nodes[i][1]);
                        }
                        for (var i=0; i<data.relations.length; i++)
                        {
                           graph.addLink(data.relations[i].parent, data.relations[i].child);
                        }
                    }
            );
            var graphics = Viva.Graph.View.svgGraphics();
            graphics.node(function(node) {
                e = Viva.Graph.svg('text')
                .attr('width', 224)
                .attr('height', 180);
                e.textContent = node.data;
                return e
                })
            .placeNode(function(nodeUI, pos){
                                nodeUI.attr('x', pos.x).attr('y', pos.y);
            });
            var renderer = Viva.Graph.View.renderer(graph, {
             graphics : graphics
            });
            renderer.run();
        }
    </script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function()
            {
                main()
            });
</script>

{% endblock %}

{% block extra_headers %}
<style type='text/css'>
  .node circle {
      fill: #fff;
        stroke: steelblue;
          stroke-width: 1.5px;
        }

        .node {
          font: 10px sans-serif;
          }

          .link {
            fill: none;
              stroke: #ccc;
                stroke-width: 1.5px;
                }

</style>
    {{ block.super }}
{% endblock %}

{% block contentarea %}
    {{ block.super }}

    {# form_horizontal form=form method="get" action="/cmdb/graphs" title='Formularz' #}
    <hr>
    <table class="table table-condensed">
        {{ output }}
    </table>

    <div id='chart' style='position: absolute; top: 0px; margin-top:0px' width='800' height='800' onload='mainer()'>
    </div>
{% endblock %}
