{% load icons %}
{% load query %}
{% load bob %}

{% block content %}
<table class="table table-striped table-bordered table-condensed ">
    <thead><tr>
        {% spaceless %}
            {% include 'cmdb/column-header.html' with label='Description' name='time'  always=1%}
            {% include 'cmdb/column-header.html' with label='Priority' name='time'  always=1%}
            {% include 'cmdb/column-header.html' with label='Last changed' name='time'  always=1%}
            {% include 'cmdb/column-header.html' with label='Trigger ID' name='time' always=1%}

        {% endspaceless %}

    </tr></thead>
    <tbody>
        {% for trigger in rows%}
        <tr>
            <td> {{ trigger.description }} </td>
            <td> {{ trigger.priority }} </td>
            <td> {{ trigger.lastchange }} </td>
            <td>  
                <a href='{{ZABBIX_URL}}/events.php?triggerid={{ trigger.trigger_id}}'  target='_noblank'> View in Zabbix </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
