{%extends 'cmdb/base.html'%}

{% load icons %}
{% load bob %}
{% load query %}
{% load cmdb %}

{% block content %}
<style type="text/css" media="screen">
    form.form-inline select
    {
        width: auto;
    }

    #id_uid
    {
        width: 80px;
    }

</style>
    <form class="form-inline well">
    {% for f in form %}
            {{ f.label_tag }}
            {{ f }}
    {% endfor %}
        <button type="submit" class="btn btn-primary">{% icon 'fugue-funnel' %}&nbsp;Filter</button>
    </form>
    {% cmdb_table table_header table_body url_query %} 

{% pagination page url_query=url_query show_all=0 show_csv=0 fugue_icons=1 %}
{% endblock %}
