{%extends 'cmdb/base.html'%}
   
{% load icons %}
{% load bob %}
{% load query %}

{% block content %}
<style type="text/css" media="screen">
    form.form-inline select
    {
        width: auto;
    }

    #id_uid
    {
        width: 80px;
    }

</style>
    <form class="form-inline well">
    {% for f in form %}
            {{ f.label_tag }}
            {{ f }}
    {% endfor %}
        <button type="submit" class="btn btn-primary">{% icon 'fugue-funnel' %}&nbsp;Filter</button>
    </form>

    <table class="table table-striped table-bordered table-condensed ">
        <thead>
            <tr>
            {% spaceless %}
                {% for td in table_header %}
                    {% include 'cmdb/column-header.html' with sortable=td.sortable label=td.label name=td.name always=1 %}
                {% endfor %}
            {% endspaceless %}
            </tr>
        </thead>
        <tbody>
        {% for rows in table_body %}
            {% for row in rows %}
                <tr>
                {% for td in row %}
                    <td>{{ td.value|safe }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% pagination page url_query=url_query show_all=0 show_csv=0 fugue_icons=1 %}
{% endblock %}
