{%extends 'cmdb/base.html'%}
   
{% load icons %}
{% load query %}

{% block content %}
<style type="text/css" media="screen">
    form.form-inline select
    {
        width: auto;
    }
</style>
    <h3> CMDB Reports</h3>
    <hr>
    {% if report_kind == 'top_changes' %}
    <p>
    <h3> Top CI Changes </h3>
    <hr>
        {% include 'cmdb/reports/top-ci-changes.html' with rows=data %}
    </p>
    <hr>
    {% elif report_kind == 'top_problems' %}
    <p>
    <h3> Top CI Problems  </h3>
    <hr>
        {% include 'cmdb/reports/top-ci-problems.html' with rows=data %}
    </p>

    <hr>
    <p>
    {% elif report_kind == 'top_incidents' %}
    <h3> Top CI Incidents </h3>
    <hr>
        {% include 'cmdb/reports/top-ci-incidents.html' with rows=data %}
    </p>

    <hr>
    {% elif report_kind == 'usage' %}
    <p>
    <h3> Unchanged Configuration Items </h3>
    <hr>
        {% include 'cmdb/reports/least-ci-changes.html' with rows=data %}
    </p>
    {% endif %}

{% endblock %}
