{% extends "layout.html" %}

{% block sidebar1 %}{% endblock %}
{% block bsrelbar1 %}{% endblock %}
{% block bsrelbar2 %}{% endblock %}
{% block sidebarsearch %}{% endblock %}
{% set title = 'Development' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Development <small>Get involved in improving Ralph</small></h1>
        </div>
        <div class="row">
            <div class="span8">
                <p>The main Ralph repository is published on Github.</p>
            </div>
            <div class="span4">
                <p><a href="https://github.com/allegro/ralph" class="btn btn-warning btn-large"><i class="icon-random icon-white"></i> Fork us on Github</a></p>
            </div>
        </div>

        <div class="page-header">
            <h1>Community <small>Contact the developers</small></h1>
        </div>
        <div class="row">
            <div class="span8">
                <p>There are several ways to contact the people who are involved in Ralph developemnt:</p><ul>
                <li><a href="https://github.com/allegro/ralph/wiki">Wiki</a></li>
                <li><a href="https://github.com/allegro/ralph/issues">Bug tracker</a></li>
            </ul>
            </div>
        </div>


    </div> <!-- /container -->
{% endblock %}
