{% extends 'ui/base.html' %}
{% load bob %}
{% load icons %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
	showAddAnotherPopup = function(e) {
		window.open(e.href + e.previousElementSibling.value);
		this.event.preventDefault()
		return false;
}
</script>
{% endblock %}
{% block contentarea %}
        {% block content %}
        {% endblock %}
{% endblock %}

{% block sidebar %}
    {% if sidebar_items %}
        {% sidebar_menu sidebar_items sidebar_selected %}
    {% endif %}
    {% block sidebar_search %}
    {% endblock %}
{% endblock %}

{% block titlesubsection %}
    {{ subsection }}{% if subsection %} - {% endif %}
{% endblock %}
