{% extends 'assets/base.html' %}

{% block content %}
<div class="row"><h3>Bulk edit</h3></div>

<form action="" method="POST" class="form form-inline">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="row">
      <table class="table table-striped table-bordered table-condensed assets-bulk-edit">
      <thead><tr>
        <th></th>
        <th>Type</th>
        <th>Model</th>
        <th>Invoice Number</th>
        <th>Order Number</th>
        <th>Buy date</th>
        <th>SN</th>
        <th>Barcode</th>
        <th width="20">Support period</th>
        <th>Support type</th>
        <th width="20">Support void reporting</th>
        <th>Provider</th>
        <th>Source</th>
        <th>Status</th>
      </tr></thead>
      <tbody>{% for form in formset %}
        <tr>
          <td style="vertical-align:middle">
            {{ forloop.counter }}
            {{ form.id }}
          </td>
          <td class="control-group" style="vertical-align:middle">{{ form.type }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.model }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.invoice_no }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.order_no }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.buy_date }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.sn }}</td>
          <td class="control-group" style="vertical-align:middle">
            {% if form.device_info.value %}{{ form.barcode }}{% endif %}
          </td>
          <td class="control-group small" style="vertical-align:middle">{{ form.support_period }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.support_type }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.support_void_reporting }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.provider }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.source }}</td>
          <td class="control-group" style="vertical-align:middle">{{ form.status }}</td>
        </tr>
      {% endfor %}</tbody>
    </table>
  </div>
  <div class="row">
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %}

