{% extends 'assets/base.html' %}
{% load bob %}
{% load icons %}

{% block extra_headers %}
{{ block.super }}
    <style type="text/css">
        input[type=submit] {
            padding: 0px;
        }
        div#sidebar_search input, div#sidebar_search select{
            width: 90%;
        }
        form.form-inline {
            display: inline;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
      $(document).ready(function() {
            $('#post_edit_all').click(function() {
                var dd=$('#table_form')[0];
                dd.action='./bulkedit/';
                dd.submit();
                return false;
            });
            $('.del-asset-btn').click(function() {
                if (!confirm("Are you sure to delete Asset?")) {
                    return false;
                }
            });
        });
    </script>
{% endblock %}


{% block sidebar_search%}
    <div class="form search-form well well-small" id="sidebar_search">
        {% form form=form method="GET" action='' submit_label='Search' %}
    </div>
{% endblock %}
{% block content %}
    <h3>{{header}}</h3>
    <form id="table_form" action="" method="GET">
        <table class="table table-bordered table-striped">
        {% table_header columns url_query sort %}
                <tbody>
                {% for row in page %}
                <tr>
                    <td class="column-checkbox">
                        <input type="checkbox" name="select" value="{{row.id}}">
                    </td>
                    <td>{% icon row.get_data_icon %}&nbsp;{{row.get_data_type|capfirst}}</td>
                    <td>{{row.sn}}</td>
                    <td>{{row.barcode|default_if_none:'-'}}</td>
                    <td>{{row.model.name}}</td>
                    <td>{{row.invoice_no}}</td>
                    <td>{{row.order_no}}</td>
                    <td>{{row.invoice_date}}</td>
                    <td>{{row.get_status_display}}</td>
                    <td>{{row.warehouse}}</td>
                    <td>
                    {% if row.get_data_type == 'device' %}
                        <a href="./edit/device/{{row.id}}">Edit</a> |
                        <a href="./history/device/{{row.id}}">History</a> |
                        {% if row.device_info.ralph_device.id%}
                            <a href="{% url search 'info' row.device_info.ralph_device.id %}">View in ralph</a> |
                        {% endif %}
                    {% else %}
                        <a href="./edit/part/{{row.id}}">Edit</a> |
                        <a href="./history/part/{{row.id}}">History</a> |
                    {% endif %}
                        <form class='form-inline' method="POST" action="./delete/asset/">
                            {% csrf_token %}
                            <input type='hidden' name='record_id' value='{{ row.id }}'/>
                            <input class='btn btn-link del-asset-btn' value='Delete' type='submit'></input>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% pagination page url_query=url_query show_all=0 show_csv=1 fugue_icons=1 %}
            <div class="btn-group">
              <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                Bulk actions...
                <span class="caret"></span>
              </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" id='post_edit_all'>Edit selected</a>
                </li>
            </ul>
            </div>
          </form>

{% endblock %}
