{% extends 'assets/base.html' %}
{% load bob %}

{% block extra_headers %}
{{ block.super }}
    <style type="text/css">
        div#sidebar_search input, div#sidebar_search select{
            width: 90%;
        }
    </style>

    <script type="text/javascript">
        /* Different post urls for different actions ... */
        var postMoveAll = function (e) {
            var dd=$('#table_form')[0]; 
            dd.action='../move/';
            dd.submit();
            return false;
        };
        var postEditAll = function (e) {
             var dd=$('#table_form')[0]; 
            dd.action='../edit/';
            dd.submit();
            return false;
        }
    </script>
{% endblock %}


{% block sidebar_search%}
    <div class="form search-form well well-small" id="sidebar_search">
        {% form form=form method="GET" action='' submit_label='Search' %}
    </div>
{% endblock %}
{% block content %}

<div class="row row-fluid">
    <div class='span1'>
    </div>
  <div class="span11">
    <h3> Search Assets </h3>
    <form id="table_form" action="" method="GET">
        <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><i class="fugue-icon fugue-ui-check-boxes-series"></i></th>
                        <th>Index</th>
                        <th>SN</th>
                        <th>Barcode</th>
                        <th>Model</th>
                        <th>Invoice no.</th>
                        <th>Order no.</th>
                        <th>Buy date</th>
                        <th>Status</th>
                        <th>Warehouse</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                <tr>
                    <td class="column-checkbox">
                        <input type="checkbox" name="select" value="{{row.id}}">
                    </td>
                    <td>{{forloop.counter}}</td>
                    <td>{{row.sn}}</td>
                    <td>{{row.barcode}}</td>
                    <td>{{row.model.name}}</td>
                    <td>{{row.invoice_no}}</td>
                    <td>{{row.order_no}}</td>
                    <td>{{row.buy_date}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.warehouse}}</td>
                    {% if row.device_info %}
                    <td><a href="./edit/device/{{row.id}}">Edit</a></td>
                    {% elif row.part_info %}
                    <td><a href="./edit/part/{{row.id}}">Edit</a></td>
                    {% endif %}
                </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="btn-group">
              <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                Bulk actions...
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
            <a href="#" onclick="return postMoveAll()">Move all</a>
            <a href="#" onclick="return postEditAll()">Edit all</a>
            </li>
            </ul>
            </div>
        </form>
    </div>
</div>
{% endblock %}
