{% load i18n %}

<ul class="left">
  <li class="divider"></li>
  {% for app in app_list %}
    <li class="{% if app_label == app.app_label %}active {% endif %}has-dropdown not-click">
      <a href="#">{{ app.name }}</a>
      <ul class="dropdown">
        {% for model in app.models %}
          <li class="has-dropdown not-click">
            <a href="{{ model.admin_url }}">{{ model.name }}</a>
            <ul class="dropdown">
              {% if model.add_url or model.admin_url %}
                <li><label>{% trans "Actions" %}</label></li>
              {% endif %}
              {% if model.add_url %}
                <li>
                  <a href="{{ model.add_url }} ">{% trans "Add" %}</a>
                </li>
              {% endif %}
              {% if model.admin_url %}
                <li>
                  <a href="{{ model.admin_url }} ">{% trans "Change" %}</a>
                </li>
              {% endif %}
            </ul>
          </li>
        {% endfor %}
      </ul>

    </li>
  {% endfor %}
</ul>
