{% load i18n %}
<ul class="left">
  <li class="divider"></li>
  {% for menu in site_menu %}
    <li class="{% if menu.sub_menu %}has-dropdown{% endif %} not-click">
      <a href="{% if menu.url %}{{ menu.url }}{% else %}#{% endif %}">
        {{ menu.label }}
      </a>
      {% if menu.sub_menu %}
        <ul class="dropdown">
         {% for sub in menu.sub_menu %}
          {% if sub.separate_label %}
            <li>
              <label>
                {{ sub.separate_label }}
              </label>
            </li>
          {% endif %}
          <li>
            <a href="{{ sub.url }}">{{ sub.label }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
