#!/bin/sh

# Source debconf library.
. /usr/share/debconf/confmodule

db_input critical ralphsrv/use_default || true
db_go

db_get ralphsrv/use_default

if [ "$RET" = "false" ]; then
    db_input critical ralphsrv/database_engine || true
    db_go

    db_get ralphsrv/database_engine

    if [ "$RET" = "postgresql" ] ; then
        db_set ralphsrv/database_port 5432
    elif [ "$RET" = "mysql" ] ; then
        db_set ralphsrv/database_port 3306
    fi

    db_input critical ralphsrv/database_username || true
    db_input critical ralphsrv/database_password || true
    db_input critical ralphsrv/database_host || true
    db_input critical ralphsrv/database_port || true
    db_input critical ralphsrv/database_name || true
    db_go
else
    db_set ralphsrv/database_engine mysql
    db_set ralphsrv/database_username ralph_ng
    db_set ralphsrv/database_password ralph_ng
    db_set ralphsrv/database_host 127.0.0.1
    db_set ralphsrv/database_port 3306
    db_set ralphsrv/database_name ralph_ng
    db_go
fi
