<div
    class="device height-u-{{ item.height }} position-u-{{ item.position }} {{ item.layout }}"
    ng-click="setActiveItem(item)"
    ng-class="{has_children: item.children.length}"
>
    <div class="info">
        <span class="model">{{ item.model }}</span>
        <div class="barcode">{{ item.barcode }}</div>
        <div class="sn">{{ item.sn }}</div>
    </div>
    <div class="children">
        <div
            class="child slot-{{ child.slot_no }}"
            ng-repeat="child in item.children"
            ng-click="setActiveSlot(child)"
            style="order: {{ child.slot_no | remove_alfa }};"
        >
            <span class="slot_no">{{ child.slot_no }}</span>
            <span class="barcode">
                <span class="inner">{{ child.barcode }}</span>
            </span>
        </div>
    </div>
</div>
