<div class="graph">
  <h3>{{ graph.name }}</h3>
  {% if error %}
    <div class="alert-box alert">
      {{ error }}
    </div>
  {% else %}
    <div class="description">{{ graph.description }}</div>
    <div class="wrapper">
      <div class="render" id="{{ name }}"></div>
    </div>
  {% endif %}
</div>

<script>
  (function($) {
    $(document).ready(function() {
      var graph = new Chartist.{{ func | title }}('#{{ name }}', {
        labels: {{ labels | safe }},
        series: {% if not options_raw.distributeSeries %}[{% endif %}{{ series | safe }}{% if not options_raw.distributeSeries %}]{% endif %}
        }, {{ options | safe }});
      {% for plugin, options in plugins.items %}
        Chartist.plugins.{{ plugin }}({{ options }})(graph);
      {% endfor %}

    function gotoByClick(evt) {
      var metaStr = event.target.getAttribute("ct:meta")
      meta = Chartist.deserialize(metaStr)
      if (meta && 'clickUrl' in meta) {
        window.location = meta.clickUrl;
      }
    }

    var clickable = jQuery('.ct-point, .ct-bar, .ct-pie', '.ct-series');
    $(document)
      .on('click', clickable, function(event) {
            gotoByClick(event);
      });

    });
  }(ralph.jQuery))
</script>
