[Unit]
Description=Headless soffice instance
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/soffice --nologo --headless --nofirststartwizard \
    --accept='socket,host=0.0.0.0,port=2002,tcpNoDelay=1;urp;StarOffice.Service'
    --pidfile=/var/run/soffice.pid
RestartSec=5
ExecStop=/usr/bin/pkill -F /var/run/soffice.pid
PIDFile=/var/run/soffice.pid

[Install]
WantedBy=multi-user.target
