{% extends "admin/change_form.html" %}

{% load ralph_tags %}

{% block tabs %}
  {% views_tabs change_views view_name object %}
{% endblock %}

{% block title_head %}{{ original }}{% endblock %}

{% block field_sets %}
  {% for fieldset in adminform %}
    {# some hack - don't display form without defined fieldsets #}
    {% if fieldset.name != '__empty__' %}
      <div class="small-12 medium-6 large-6 columns">
        {% include "admin/includes/fieldset.html" %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block object-tools %}{% endblock %}
