{% extends 'ui/base.html' %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
        <div class="dashboard-form">
            <img src='{{ STATIC_URL }}images/200px-Ambox_padlock_gray.svg.png'>
            <p class='permission-msg'>
              {% trans "You do not have permission to view this resource." %}
            </p>
            <div>
              <button class="btn btn-link" onclick="window.history.back()">
                {% trans "go back" %}
              </button>
              {% if REQUEST_PERM_URL %}
                <a href="{{REQUEST_PERM_URL}}" class="btn btn-link">
                  {% trans "request permission" %}
                </a>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
