{% extends 'ui/base.html' %}
{% load i18n staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
        <div class="dashboard-form">
            <img src="{% static 'images/big_icon_padlock.png' %}">
            <p class='permission-msg'>
              <h1>{% trans msg %}</h1>
            </p>
            <div>
              <button class="btn btn-link" onclick="window.history.back()">
                {% trans "go back" %}
              </button>
              {% if REQUEST_PERM_URL %}
                <a href="{{REQUEST_PERM_URL}}" class="btn btn-link">
                  {% trans "request permission" %}
                </a>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
