<!doctype html>
<html><head>
    <title>Ralph</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/fugue-icons-important.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/splash.css">
</head><body>
<h1>Ralph</h1>
    <ul class="app-links">
        <li><span class="fugue-icon fugue-leaf-plant"></span> <a href="/browse">Browser</a></li>
        <li><span class="fugue-icon fugue-binocular"></span> <a href="/findme">Findme</a></li>
        <li><span class="fugue-icon fugue-paper-bag"></span> <a href="/catalog">Catalog</a></li>
        <li><span class="fugue-icon fugue-exclamation"></span> <a href="/warnings">Warnings</a></li>
        <li><span class="fugue-icon fugue-piggy-bank"></span> <a href="/business">Business</a></li>
        <li><span class="fugue-icon fugue-toolbox"></span> <a href="/admin">Admin</a></li>
        <li><span class="fugue-icon fugue-smiley-eek"></span> <a href="/ui">Ralph</a></li>
    </ul>
</body></html>
