rack111-sw1.dc2:cisco:down
rack111-sw2.dc2:cisco:down
rack113-sw1.dc2:cisco:down
rack113-sw2.dc2:cisco:down
rack209-sw1.dc2:cisco:up
rack209-sw2.dc2:cisco:up
rack210-sw1-hosting.dc2:cisco:up
rack210-sw2-hosting.dc2:cisco:up
rack211-sw1-hosting.dc2:cisco:up
rack211-sw2-hosting.dc2:cisco:up
asa-1a-inside.dc2:cisco:up
asa-2a.dc2:cisco:up
asa-vpn-1a.dc2:cisco:up
asa-vpn-1b.dc2:cisco:up
blade-104-1-sw1.dc2:alteon:up
blade-104-1-sw2.dc2:alteon:up
blade-104-2-sw1.dc2:alteon:up
blade-104-2-sw2.dc2:alteon:up
blade-104-3-sw1.dc2:alteon:up
blade-104-3-sw2.dc2:alteon:up
blade-105-1-sw1.dc2:alteon:up
blade-105-1-sw2.dc2:alteon:up
blade-105-2-sw1.dc2:alteon:up
blade-105-2-sw2.dc2:alteon:up
blade-105-3-sw1.dc2:alteon:up
blade-105-3-sw2.dc2:alteon:up
blade-106-1-sw1.dc2:alteon:up
blade-106-1-sw2.dc2:alteon:up
blade-106-2-sw1.dc2:alteon:up
blade-106-2-sw2.dc2:alteon:up
blade-106-3-sw1.dc2:hp:down:VC
blade-106-3-sw2.dc2:hp:down:VC
blade-106-3-sw3.dc2:hp:down:VC
blade-106-3-sw4.dc2:hp:down:VC
blade-203-1-sw1.dc2:alteon:up
blade-203-1-sw2.dc2:alteon:up
blade-203-2-sw1.dc2:alteon:up
blade-203-2-sw2.dc2:alteon:up
blade-204-1-sw1.dc2:alteon:up
blade-204-1-sw2.dc2:alteon:up
blade-204-2-sw1.dc2:alteon:up
blade-204-2-sw2.dc2:alteon:up
blade-205-1-sw1.dc2:alteon:up
blade-205-1-sw2.dc2:alteon:up
blade-205-2-sw1.dc2:alteon:up
blade-205-2-sw2.dc2:alteon:up
blade-206-1-sw1.dc2:alteon:up
blade-206-1-sw2.dc2:alteon:up
blade-206-2-sw1.dc2:alteon:up
blade-206-2-sw2.dc2:alteon:up
blade-207-1-sw1.dc2:alteon:up
blade-207-1-sw2.dc2:alteon:up
blade-207-2-sw1.dc2:alteon:up
blade-207-2-sw2.dc2:alteon:up
blade-208-1-sw1.dc2:alteon:up
blade-208-1-sw2.dc2:alteon:up
blade-208-2-sw1.dc2:alteon:up
blade-208-2-sw1.dc2:alteon:up
blade-208-2-sw2.dc2:alteon:up
blade-208-3-sw1.dc2:cisco:up
blade-208-3-sw2.dc2:cisco:up
blade-209-1-sw1.dc2:cisco:up
blade-209-1-sw2.dc2:cisco:up
blade-301-1-sw1.dc2:alteon:up
blade-301-1-sw2.dc2:alteon:up
blade-301-2-sw1.dc2:alteon:up
blade-301-2-sw2.dc2:alteon:up
blade-301-3-sw1.dc2:alteon:up
blade-301-3-sw2.dc2:alteon:up
blade-302-1-sw1.dc2:alteon:up
blade-302-1-sw2.dc2:alteon:up
blade-302-2-sw1.dc2:alteon:up
blade-302-2-sw2.dc2:alteon:up
blade-302-3-sw1.dc2:alteon:up
blade-302-3-sw2.dc2:alteon:up
blade-306-1-sw1.dc2:alteon:up
blade-306-1-sw2.dc2:alteon:up
blade-306-2-sw1.dc2:alteon:up
blade-306-2-sw2.dc2:alteon:up
blade-306-3-sw1.dc2:alteon:up
blade-306-3-sw2.dc2:alteon:up
blade-307-1-sw1.dc2:alteon:up
blade-307-1-sw2.dc2:alteon:up
blade-309-2-sw1.dc2:hp:down:VC
blade-309-2-sw2.dc2:hp:down:VC
blade-309-2-sw3.dc2:hp:down:VC
blade-309-2-sw4.dc2:hp:down:VC
blade-311-1-sw1.dc2:cisco:up
blade-311-1-sw2.dc2:cisco:up
blade-311-1-sw3.dc2:cisco:up
blade-311-1-sw4.dc2:cisco:up
blade-311-2-sw1.dc2:hp:down:VC
blade-311-2-sw2.dc2:hp:down:VC
blade-311-2-sw3.dc2:hp:down:VC
blade-311-2-sw4.dc2:hp:down:VC
blade-406-1-sw1.dc2:alteon:up
blade-406-1-sw2.dc2:alteon:up
blade-406-2-sw1.dc2:hp:down:VC
blade-406-2-sw2.dc2:hp:down:VC
blade-407-1-sw1.dc2:hp:down:VC
blade-407-1-sw2.dc2:hp:down:VC
blade-407-2-sw1.dc2:hp:down:VC
blade-407-2-sw2.dc2:hp:down:VC
blade-409-1-sw1.dc2:hp:down:VC
blade-409-1-sw2.dc2:hp:down:VC
blade-409-1-sw3.dc2:hp:down:VC
blade-409-1-sw4.dc2:hp:down:VC
blade-409-2-sw1.dc2:hp:down:VC
blade-409-2-sw2.dc2:hp:down:VC
blade-409-2-sw3.dc2:hp:down:VC
blade-409-2-sw4.dc2:hp:down:VC
blade-410-1-sw1.dc2:???:down:???
blade-410-1-sw1.dc2:???:down:???
rack411-sw1.dc2:cisco:up
rack411-sw2.dc2:cisco:up
blade-411-2-sw1.dc2:hp:down:VC
blade-411-2-sw2.dc2:hp:down:VC
blade-411-2-sw3.dc2:hp:down:VC
blade-411-2-sw4.dc2:hp:down:VC
blade-509-1-sw1.dc2:cisco:up
blade-509-1-sw2.dc2:cisco:up
blade-509-1-sw3.dc2:cisco:up
blade-509-1-sw4.dc2:cisco:up
blade-509-2-sw1.dc2:cisco:up
blade-509-2-sw2.dc2:cisco:up
blade-604-2-sw1.dc2:cisco:up
blade-604-2-sw2.dc2:cisco:up
blade-604-3-sw1.dc2:cisco:up
blade-604-3-sw2.dc2:cisco:up
blade-605-1-sw1.dc2:cisco:up
blade-605-1-sw2.dc2:cisco:up
blade-605-2-sw1.dc2:cisco:up
blade-605-2-sw2.dc2:cisco:up
blade-607-1-sw1.dc2:cisco:up
blade-607-1-sw2.dc2:cisco:up
blade-607-2-sw1.dc2:cisco:up
blade-607-2-sw2.dc2:cisco:up
blade-610-1-sw1.dc2:cisco:up
blade-610-1-sw2.dc2:cisco:up
blade-610-2-sw1.dc2:cisco:up
blade-610-2-sw2.dc2:cisco:up
blade-610-2-sw3.dc2:cisco:up
blade-610-2-sw4.dc2:cisco:up
floor10-pgk1-sw1.office:cisco:up
floor1-pgk1-sw1.office:cisco:up
floor1-pgk1-sw2.office:cisco:up
floor3-right-sw1.office:cisco:up
floor3-sw1.globis:cisco:down
floor3-sw2.globis:cisco:down
floor3-sw-access1.globis:cisco:down
floor3-sw-access2.globis:cisco:down
floor3-sw-access3.globis:cisco:down
floor3-sw-access4.globis:cisco:down
floor3-sw-access5.globis:cisco:down
floor4-left-sw1.office:cisco:up
floor4-right-sw1.office:cisco:up
floor5-left-sw1.office:cisco:up
floor5-right-sw1.office:cisco:up
floor6-left-sw1.office:cisco:up
floor6-left-sw2.office:cisco:up
floor6-right-dba-sw1.office:cisco:up
floor6-right-sw1.office:cisco:up
floor6-right-sw2.office:cisco:up
floor6-sw-access1.globis:cisco:down
floor6-sw-access2.globis:cisco:down
floor7-pgk1-sw1.office:cisco:up
floor7-pgk1-sw2.office:cisco:up
floor9-pgk1-sw1.office:cisco:up
pots-gw1.globis:cisco:up
gw1.dc2:cisco:up
gw2.dc2:cisco:up
n7k-1.dc2:cisco-nx:up
n7k-2.dc2:cisco-nx:up
oa-sw1.dc2:cisco:up
rack103-sw1.dc2:cisco:up
rack103-sw2.dc2:cisco:up
rack104-sw1.dc2:cisco:up
rack104-sw2.dc2:cisco:up
rack105-sw1.dc2:cisco:up
rack105-sw2.dc2:cisco:up
rack106-sw1.dc2:cisco:up
rack106-sw2.dc2:cisco:up
rack203-sw1.dc2:cisco:up
rack203-sw2.dc2:cisco:up
rack204-sw1.dc2:cisco:up
rack204-sw2.dc2:cisco:up
rack205-sw1.dc2:cisco:up
rack205-sw2.dc2:cisco:up
rack206-sw1.dc2:cisco:up
rack206-sw2.dc2:cisco:up
rack207-sw1.dc2:cisco:up
rack207-sw2.dc2:cisco:up
rack208-sw1.dc2:cisco:up
rack208-sw2.dc2:cisco:up
rack301-sw1.dc2:cisco:up
rack301-sw2.dc2:cisco:up
rack302-sw1.dc2:cisco:up
rack302-sw2.dc2:cisco:up
rack303-sw1.dc2:cisco:up
rack303-sw2.dc2:cisco:up
rack304-sw1.dc2:cisco:up
rack304-sw2.dc2:cisco:up
rack305-sw1.dc2:cisco:up
rack305-sw2.dc2:cisco:up
rack306-sw1.dc2:cisco:up
rack306-sw2.dc2:cisco:up
rack307-sw1.dc2:cisco:up
rack307-sw2.dc2:cisco:up
rack309-sw1.dc2:cisco:up
rack309-sw2.dc2:cisco:up
rack310-sw1.dc2:cisco:up
rack311-sw1.dc2:cisco:up
rack311-sw2.dc2:cisco:up
rack406-sw1.dc2:cisco:up
rack406-sw2.dc2:cisco:up
rack406-sw3.dc2:cisco:up
rack407-sw1.dc2:cisco:up
rack407-sw2.dc2:cisco:up
rack409-sw1.dc2:cisco:up
rack409-sw2.dc2:cisco:up
rack411-sw1.dc2:cisco:up
rack411-sw2.dc2:cisco:up
rack412-sw1.dc2:cisco:up
rack412-sw2.dc2:cisco:up
rack503-n5k-1.dc2:cisco-nx:up
rack503-sw1.dc2:cisco:up
rack503-sw2.dc2:cisco:up
rack504-n5k-1.dc2:cisco-nx:up
rack504-sw1.dc2:cisco:up
rack504-sw2.dc2:cisco:up
rack506-sw1.dc2:cisco:up
rack506-sw2.dc2:cisco:up
rack507-sw1.dc2:cisco:up
rack507-sw2.dc2:cisco:up
rack508-sw1-hosting.dc2:cisco:up
rack509-sw1.dc2:cisco:up
rack509-sw2.dc2:cisco:up
rack604-sw1.dc2:cisco:up
rack604-sw2.dc2:cisco:up
rack605-sw1.dc2:cisco:up
rack605-sw2.dc2:cisco:up
rack607-sw1.dc2:cisco:up
rack607-sw2.dc2:cisco:up
rack610-sw1.dc2:cisco:up
rack610-sw2.dc2:cisco:up
rt1.dc2:cisco:up
rt2.dc2:cisco:up
rt3.dc2:cisco:up
rt4.dc2:cisco:up
ssg20-bg-sofia-1.office:netscreen:up: BG Office
ssg20-cz-zlin-1.office:netscreen:up: CZ Office
ssg20-hu-budapest-1.office:netscreen:up: HU Office
ssg20-pl-poznan-1.dc2:netscreen:up: DC2 DSL Netia
ssg20-pl-poznan-3.office:netscreen:up: PL Poznan szerlok.pl
ssg20-pl-pruszkow-1.office:netscreen:up: PL Pruszkow
ssg20-pl-torun-1.office:netscreen:down: Ticket S1055959
ssg20-pl-warszawa-1.office:netscreen:down:problem na laczu ISP, NOC zglasza do TPSA: PL Warszawa
ssg20-pl-wroclaw-1.office:netscreen:up: PL Wroclaw
ssg20-pl-wroclaw-2.office:netscreen:up: PL Wroclaw Mojeauto
ssg20-pl-wroclaw-3.office:netscreen:up: PL Wroclaw Bankier
ssg20-ro-bucharest-1.office:netscreen:up: RO Bucharest GECARD
ssg20-ro-craiova-1.office:netscreen:up: RO Office
ssg20-ru-moscow-1.office:netscreen:up: RU Moscow
ssg20-ua-dniepr-1.office:netscreen:up: RU OFfice
ssg320-pl-poznan-1a.dc2:netscreen:up
ssg320-pl-poznan-1b.dc2:netscreen:up
ssg320-rnd-1.dc2:netscreen:up
ssg-office-1a.dc2:netscreen:up
ssg-office-1b.dc2:netscreen:up
wlc1.office:cisco-wlc5:up
wlc2.office:cisco-wlc5:up
blade-e16-1-sw1.dc3:cisco:up
blade-e16-1-sw2.dc3:cisco:up
blade-e16-1-sw3.dc3:cisco:up
blade-e16-1-sw4.dc3:cisco:up
blade-e19-1-sw1.ceneo.dc3:cisco:up
blade-e19-1-sw2.ceneo.dc3:cisco:up
blade-e20-1-sw1.ceneo.dc3:cisco:up
blade-e20-1-sw2.ceneo.dc3:cisco:up
blade-f16-1-sw1.dc3:cisco:up
blade-f16-1-sw2.dc3:cisco:up
blade-f16-1-sw3.dc3:cisco:up
blade-f16-1-sw4.dc3:cisco:up
blade-f19-1-sw1.dc3:cisco:up
blade-f19-1-sw2.dc3:cisco:up
blade-f19-1-sw3.dc3:cisco:up
blade-f19-1-sw4.dc3:cisco:up
blade-f19-2-sw1.dc3:cisco:up
blade-f19-2-sw2.dc3:cisco:up
blade-f19-2-sw3.dc3:cisco:up
blade-f19-2-sw4.dc3:cisco:up
blade-f20-1-sw1.dc3:cisco:up
blade-f20-1-sw2.dc3:cisco:up
blade-f20-1-sw3.dc3:cisco:up
blade-f20-1-sw4.dc3:cisco:up
blade-f21-2-sw1.dc3:cisco:up
blade-f21-2-sw2.dc3:cisco:up
blade-f21-3-sw1.dc3:cisco:up
blade-f21-3-sw2.dc3:cisco:up
blade-g16-1-sw1.dc3:alteon:up
blade-g16-1-sw2.dc3:alteon:up
blade-g16-2-sw1.dc3:cisco:up
blade-g16-2-sw2.dc3:cisco:up
blade-g18-1-sw1.dc3:alteon:up
blade-g18-1-sw2.dc3:alteon:up
blade-g18-2-sw1.dc3:alteon:up
blade-g18-2-sw2.dc3:alteon:up
blade-g19-1-sw1.dc3:alteon:up
blade-g19-1-sw2.dc3:alteon:up
blade-g19-2-sw1.dc3:alteon:up
blade-g19-2-sw2.dc3:alteon:up
blade-g20-1-sw1.dc3:alteon:up
blade-g20-1-sw2.dc3:alteon:up
blade-g20-2-sw1.dc3:alteon:up
blade-g20-2-sw2.dc3:alteon:up
blade-g21-1-sw1.dc3:alteon:up
blade-g21-1-sw2.dc3:alteon:up
blade-g21-2-sw1.dc3:alteon:up
blade-g21-2-sw2.dc3:alteon:up
blade-g23-1-sw1.dc3:alteon:up
blade-g23-1-sw2.dc3:alteon:up
blade-g23-2-sw1.dc3:cisco:up
blade-g23-2-sw2.dc3:cisco:up
blade-g24-1-sw1.dc3:cisco:up
blade-g24-1-sw2.dc3:cisco:up
e19-sw1.ceneo.dc3:cisco:up
e19-sw2.ceneo.dc3:cisco:up
e20-sw1.ceneo.dc3:cisco:up
e20-sw2.ceneo.dc3:cisco:up
e21-sw1.dc3:cisco:up 
e21-sw2.dc3:cisco:up 
f16-sw1.dc3:cisco:up 
f16-sw2.dc3:cisco:up 
f17-n5k-1.dc3:cisco-nx:up 
f17-sw1.dc3:cisco:up 
f17-sw2.dc3:cisco:up 
f18-n5k-1.dc3:cisco-nx:up 
f18-sw1.dc3:cisco:up 
f18-sw2.dc3:cisco:up 
f19-sw1.dc3:cisco:up 
f19-sw2.dc3:cisco:up 
f20-sw1.dc3:cisco:up 
f20-sw2.dc3:cisco:up 
f21-sw1.dc3:cisco:up 
f21-sw2.dc3:cisco:up 
fwsm-dc2.dc3:cisco:up
g16-sw1.dc3:cisco:up
g16-sw2.dc3:cisco:up
g18-sw1.dc3:cisco:up
g18-sw2.dc3:cisco:up
g19-sw1.dc3:cisco:up
g19-sw2.dc3:cisco:up
g20-sw1.dc3:cisco:up
g20-sw2.dc3:cisco:up
g21-sw1.dc3:cisco:up
g21-sw2.dc3:cisco:up
g23-sw1.dc3:cisco:up
g23-sw2.dc3:cisco:up
g24-sw1.dc3:cisco:up
g24-sw2.dc3:cisco:up
g3-sw1.dc3:cisco:up
g3-sw2.dc3:cisco:up
g5-sw1.dc3:cisco:up
g6-sw1.dc3:cisco:up
g7-sw1.dc3:cisco:up
g7-sw2.dc3:cisco:up
h16-sw1.dc3:cisco:up
h16-sw2.dc3:cisco:up
h18-sw1.dc3:cisco:up
h18-sw2.dc3:cisco:up
h19-sw1.dc3:cisco:up
h19-sw2.dc3:cisco:up
h20-sw1.dc3:cisco:up
h20-sw2.dc3:cisco:up
h21-sw1.dc3:cisco:up
h21-sw2.dc3:cisco:up
h23-sw1.dc3:cisco:up
h23-sw2.dc3:cisco:up
h24-sw1.dc3:cisco:down: Do sprawdzenia, switche przeniesione ?
h24-sw2.dc3:cisco:down: Do sprawdzenia, switche przeniesione ?
rt1.ceneo.dc3:cisco:up
rt1.dc3:cisco:up
rt2.dc3:cisco:up
rt3.dc3:cisco:up
rt4.dc3:cisco:up
rt5.dc3:cisco:up
ssg20-de-frankfurt-1.dc3:netscreen:up
ssg320-de-frankfurt-1a.dc3:netscreen:up
ssg320-de-frankfurt-1b.dc3:netscreen:up
ssg320-de-frankfurt-1.dc3:netscreen:up
ssg550-1a.ceneo.dc3:netscreen:up
