<div ng-controller="RackController">
    <div class="rack-info">
        <h3>Info {{ rack.info.name }}</h3>
        <div ng-show="rack.info.description" class="description">{{ rack.info.description }}</div>
        <table class="info">
            <tr>
                <td>Model</td>
                <td>{{ activeItem ? activeItem.model : '-' }}</td>
            </tr>
            <tr>
                <td>Barcode</td>
                <td>{{ activeItem ? activeItem.barcode : '-' }}</td>
            </tr>
            <tr>
                <td>SN</td>
                <td>{{ activeItem ? activeItem.sn : '-' }}</td>
            </tr>
            <tr>
                <td>Position</td>
                <td>{{ activeItem ? activeItem.position : '-' }}</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{ activeItem ? activeItem.height : '-' }}</td>
            </tr>
            <tr>
                <td>Remarks</td>
                <td>{{ activeItem ? activeItem.remarks : '-' }}</td>
            </tr>
            <tr ng-show="activeSlot">
                <td>Slot {{ activeSlot.slot_no }}</td>
                <td>
                    <table class="info slot_info">
                        <tr>
                            <td>Model</td>
                            <td>{{ activeSlot ? activeSlot.model : '-' }}</td>
                        </tr>
                        <tr>
                            <td>Barcode</td>
                            <td>{{ activeSlot ? activeSlot.barcode : '-' }}</td>
                        </tr>
                        <tr>
                            <td>SN</td>
                            <td>{{ activeSlot ? activeSlot.sn : '-' }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="racks">
        <rack info="rack.info" devices="rack.front" side="front"></rack>
        <rack info="rack.info" devices="rack.back" side="back"></rack>
    </div>
</div>
