<!DOCTYPE html>
{% load url from future %}
{% load icons %}
{% load bob %}

<html><head>
<meta charset="utf-8">
<title>{% block title %}{% block titlesection %}{% block titlesubsection %}{% endblock %}{{ section.title }}{% endblock %} - Ralph{% endblock %}</title>
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}fugue-icons.css">
<link rel="stylesheet" href="{{ STATIC_URL }}ui/custom.css">
<link rel="stylesheet" href="{{ STATIC_URL }}ui/datepicker.css">
{% block extra_headers %}{% endblock %}
</head><body>
<div class="container-fluid browser-min-width">
    <div class="row-fluid"><div class="span12">
        {% block header %}
        <p></p>
        {%   main_menu mainmenu_items section title="Ralph" search=search_url %}
        {% endblock %}
    </div>
    {%   if messages %}
    <div class="row-fluid"><div class="span12 alerts">
        {% block alerts %}
        {%     for message in messages %}
        <div class="alert alert-{{ message.tags }} fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>{{ message.tags|alert_icon }} {{ message }}</p>
        </div>
        {%     endfor %}
        {% endblock %}
    </div></div>
    {%   endif %}
    <div class="row-fluid main-body"><div class="span2">
        {% block sidebar %}
        {% endblock %}
    </div><div class="span10">
        {% block breadcrumbs %}{% endblock %}
        {% block tabs %}{% endblock %}
        <div class="row-fluid">
        {% block contentarea %}
        {%   block content %}{% endblock %}
        {% endblock %}
        </div>
    </div></div>
    <div class="row-fluid"><div class="span12">
        {% block footer %}
        <p></p>
        {%   main_menu footer_items section white=1 %}
        {% endblock %}
    </div>
</div>
{% block scripts %}
<script src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}mustache.js"></script>
<script src="{{ STATIC_URL }}ui/main.js"></script>
{% endblock %}
</body></html>
<!--STATS-->
