<!DOCTYPE html>
{% load url from future %}
{% load icons bob i18n %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Ralph | {% block title %}{% block titlesection %}{{ active_menu.module.label }}{% block titlesubsection %}{% endblock %} - {{ active_submodule|title }}{% endblock %}{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}fugue-icons.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}ui/custom.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}ui/datepicker.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}jquery.treegrid.css">
        {% endblock %}
        {% block scripts %}
            <script src="{{ STATIC_URL }}require.js"></script>
            <!-- Use require.js for mustache! -->
            <!-- <script src="{{ STATIC_URL }}mustache.js"></script> -->
            <script src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
            <script src="{{ STATIC_URL }}bootstrap/js/bob.js"></script>
            <script src="{{ STATIC_URL }}jquery.treegrid.js"></script>
            <script src="{{ STATIC_URL }}jquery.treegrid.bootstrap2.js"></script>
            <script src="{{ STATIC_URL }}ui/main.js"></script>
            <script type="text/javascript">
                requirejs.config({
                    baseUrl: '{{ STATIC_URL }}',
                    paths: {}
                });
            </script>
            <script type="text/javascript" src="{{ STATIC_URL }}menu.js">
            </script>
        {% endblock %}
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        {% include 'ui/menu_extras.html' %}
        <div class="container-fluid browser-min-width">
            <div class="row-fluid">
                <div class="span12">
                    {% block header %}
                        {% main_menu main_menu active_module position='fixed' white="true" title='Ralph 2' %}
                    {% endblock %}
                    {{ view }}
                </div>
                {% if submodules %}
                    <div class="submenu">
                        {% tab_menu submodules active_submodule %}
                    </div>
                {% endif %}
                <div class="row-fluid main-body{% if not submodules %} without-submodules{%  else %} with-submodules{% endif %}">
                    {% block base_sidebar %}
                        <div class="{% block sidebar_span %}span2{% endblock %}">
                            {% block sidebar %}
                                {% if sidebar %}
                                    {% sidebar_menu sidebar active_sidebar_item %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                    <div class="{% block content_span %}span10{% endblock %}">
                        {% if messages %}
                            <div class="row-fluid">
                                <div class="span12 alerts">
                                    {% block alerts %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }} fade in">
                                                <a class="close" data-dismiss="alert" href="#">&times;</a>
                                                <p>{{ message.tags|alert_icon }} {{ message }}</p>
                                            </div>
                                        {% endfor %}
                                    {% endblock %}
                                </div>
                            </div>
                        {% endif %}
                        {% block breadcrumbs %}{% endblock %}
                        {% block tabs %}{% endblock %}
                        <div class="row-fluid">
                            {% block contentarea %}
                                {% block content %}{% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <footer class="row-fluid base">
                    <div class="span12">
                        <ul class="pull-left">
                            <li>Ralph {{ VERSION }}</li>
                            <li><a href="{{ CHANGELOG_URL }}">{% trans 'Changes' %}</a></li>
                        </ul>
                        <ul class="pull-right">
                            <li>
                                <a href="{{ BUGTRACKER_URL }}">
                                <i class="fugue-icon fugue-bug"></i>{% trans 'Report a bug' %}</a>
                            </li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap-datepicker.js"></script>
    </body>
</html>
<!--STATS-->
