{% extends "ui/base.html" %}
{% load url from future %}
{% load icons %}
{% load query %}

{% block sidebar %}
{% endblock %}

{% block contentarea %}
    <div class="span9">
        <form class="form form-inline dashboard-form" action="{% url 'search' 'info' '' %}">
            <p>Where do you want to go today?</p>
            <div class="control-group input-append">
                <input type="text" name="name" id="appendedInputButton">
                <button class="btn btn-primary">
                    {% icon 'fugue-magnifier' %} Search
                </button>
            </div>
        </form>
    </div>
{% endblock %}

