{% extends "ui/base-devices.html" %}

{% load url from future %}
{% load icons %}
{% load bob %}

{% block contentarea %}
  <div class="row-fluid">
    <div class="span10">
        <form class="form form-horizontal device-deploy-form" method="POST">
        {% csrf_token %}
        <div class="row"><div class="span10">
            {% for f in form.visible_fields %}
                <div class="control-group {{ f.css_classes }}
                    {% if f.errors %}error{% endif %}
                ">
                <label class="{% if f.field.required %}required{% endif %}">
                    {{ f.label }}
                </label>
                <div>
                    {{ f }}
                    {% for e in f.errors %}
                        <span class="help-inline">{{ e }}</span>
                    {% empty %}
                    {%  if f.help_text %}
                        <span class="help-inline">{{ f.help_text }}</span>
                    {%  endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div></div>
        <div class="row"><div class="form-actions span10">
            <div style="white-space:nowrap">
                <button class="btn btn-primary" type="submit" name="deploy">
                    {% icon 'fugue-wand-hat' %}&nbsp;{{ action_name }}
                </button>
            </div>
        </div></div>
        </form>
    </div>
    <div class="span2 template-tabs">
      {% tab_menu template_menu_items template_selected side='right' %}
    </div>
  </div>
{% endblock %}
