{% extends "ui/report_base.html" %}
{% load url from future %}
{% load icons %}
{% load formats %}
{% load bob %}
{% load reports %}

{% block contentarea %}
    {% if data %}
        <div class="row-fluid">
            <div class="span12">
                {% include 'ui/report_services_table.html' with title='Services with invalid relations' services=data.invalid_relation services_without_venture_mode=0 %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                {% include 'ui/report_services_table.html' with title='Services without a venture' services=data.services_without_venture services_without_venture_mode=1 %}
            </div>
        </div>
    {% else %}
        {% wait_for_results autoreload=1 reload_frequency=5 %}
    {% endif %}
{% endblock %}
