{% extends "ui/base.html" %}
{% load bob %}
{% load i18n %}

{% block content %}
<ul class="nav nav-tabs">
    <li {% if scan_type == 'new' %}class="active"{% endif %}>
        <a href="{% url scan_list scan_type='new'%}">
             ({{ new_count }}) {% trans 'New devices' %}
        </a>
    </li>
    <li {% if scan_type == 'existing' %}class="active"{% endif %}>
        <a href="{% url scan_list scan_type='existing'%}">
             ({{ changed_count }}) {% trans 'Changed devices' %}
        </a>
    </li>
</ul>

<table class="table table-bordered table-striped table-properties">
    <thead>
        {% table_header columns url_query sort %}
    </thead>
    {% for scan in bob_page %}
    <tr>
        <td><a href="{%url scan_results scan.job_id%}">
            {{ scan.ipaddress }}
        </a></td>
    <td>{{ scan.created }}</td>
    <td>{% if scan.device %}
        <a href="{% url search details='info' device=scan.device.id %}">
            {{ scan.device }}
        </a>
    {% endif %}</td>
    </tr>
    {% endfor %}

</table>
{% pagination bob_page url_query=url_query show_all=0 show_csv=0 fugue_icons=1 export_variable_name=export_variable_name %}
{% endblock %}
