{% extends "ui/base.html" %}

{% load url from future %}
{% load icons %}
{% load formats %}
{% load bob %}

{% block extra_headers %}
{{ block.super }}
{% if job and not job.is_finished and not job.is_failed %}
<meta http-equiv="refresh" content="5">
{% endif %}
{% endblock %}

{% block sidebar %}
{% if status %}
<div class="well">
    <ul class="unstyled">
        {% for name, bar, icon in status %}
        <li style="white-space:nowrap">{% icon icon %}&nbsp;{{ name }}</li>
        {% endfor %}
    </ul>
</div>
<div class="form-actions">
    <a href="../{{ address }}/" class="btn">
        {% icon 'fugue-arrow-circle-double' %}&nbsp;Rescan
    </a>
</div>
{% endif %}
{% endblock %}

{% block contentarea %}
{% if job %}
    <div class="well">
        <p>Scanning <strong>{{ address }}</strong>...</p>
        <div class="progress progress-striped {% if not job.is_finished and not job.is_failed  %}active{% endif %}">
            {% for name, bar, icon in status %}
            {% if bar %}
            <div
                class="bar bar-{{ bar }}"
                style="width:{{ task_size }}%"
                title="{{ name }}"
            ></div>
            {% endif %}
            {% endfor %}
            {% if not job.is_finished %}
            <div
                class="bar {% if job.is_failed %}bar-danger{% else %}bar-info{% endif %}"
                style="width:{{ task_size }}%"
                title="working..."
            ></div>
            {% endif %}
        </div>
    </div>
    <p>
    {% for addr, name, kind,  message in job.meta.messages %}
    <div class="text-{{ kind }}">
        <strong>{{ name }}</strong>: {{ message }}
    </div>
    {% endfor %}
    </p>
    {% if job.is_failed %}
    <div class="alert alert-error">
        <p>Scanning failed.</p>
        <pre>{{ job.exc_info }}</pre>
    </div>
    {% endif %}
    {% if job.is_finished %}
        <div class="alert alert-success">
            <p>Scanning finished.</p>
        </div>
        <ul class="nav nav-tabs">
            {%for device_name, result in results.iteritems %}
            <li><a
                href="#device-{{ device_name|slugify }}"
                data-toggle="tab"
            >{{ device_name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
        {%for device_name, result in results.iteritems %}
        <form method="POST" id="device-{{ device_name|slugify }}" class="tab-pane">
            {% csrf_token %}
            {% for name, values in result.iteritems %}
                <fieldset>
                    <legend>{{ name|deslug|capfirst }}</legend>
                    {% for plugin, value in values.iteritems %}
                        <label class="radio">
                            <input
                                type="radio"
                                name="{{ name }}"
                                value="{{ plugin }}"
                                {% if plugin == 'database' %}checked="on"{% endif %}
                                > <b>{{ value }}</b> (from <i>{{ plugin }}</i>)
                        </label>
                    {% endfor %}
                </fieldset>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    Save {{ device_name }}
                </button>
            </div>
        </form>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
