<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DonPedro.Properties.app" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DonPedro.Properties.app" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections><startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<userSettings>
		<DonPedro.Properties.app>
			<setting name="api_key" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="api_user" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="max_tries" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="tries_interval" serializeAs="String">
				<value>300</value>
			</setting>
		</DonPedro.Properties.app>
	</userSettings>
	<applicationSettings>
		<DonPedro.Properties.app>
			<setting name="api_path" serializeAs="String">
				<value>/api/v0.9/windowsdevice</value>
			</setting>
			<setting name="notifications_interval" serializeAs="String">
				<value>3600</value>
			</setting>
			<setting name="ralph_url" serializeAs="String">
				<value>
				</value>
			</setting>
		</DonPedro.Properties.app>
	</applicationSettings>
</configuration>