{% load i18n %}

{% if transition_id %}
  <h5>{% trans 'Assets to accept' %}</h5>
  {% if transition_exists %}
    {% if assets_to_accept %}
      <form action="" method="POST">{% csrf_token %}
        <ul>
          {% for asset in assets_to_accept %}
            <li>{{ asset.model }}</li>
          {% endfor %}
        </ul>
        <button>Accept</button>
      </form>
    {% else %}
      <div class="alert-box radius info">
        {% trans 'Nothing to accept.' %}
      </div>
    {% endif %}
  {% else %}
    <div class="alert-box radius warning">
      {% blocktrans %}
        Acceptance mechanism is enabled but a transition having ID {{ transition_id }} doesn't exist. Please add a transition with this ID or run DB migrations.
      {% endblocktrans %}
    </div>
  {% endif %}
{% endif %}
