# Example NGINX config for Ralph working with Dockerized Ralph out of the box

server {
    listen 80;
    server_name ralph;

    location /static/debug_toolbar {
        proxy_pass http://web:8000;

        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /static {
        alias /opt/static;
        expires 1y;
        access_log off;
        add_header Pragma public;
        add_header Cache-Control "public";
    }

    location /media {
        alias /opt/media;
        add_header Content-disposition "attachment";
        access_log off;
    }

    location / {
        proxy_pass http://web:8000;

        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
