@import 'variables';

.vLargeTextField, .vXMLLargeTextField {
    width: 100%;
}

select {
    width: 100%;
    padding-right: 20px;
    margin-right: 10px;
}

.datepicker {
    td, th {
        &.active {
            &.day {background: $datepicker-active-color;}
            &.year {background: $datepicker-active-color;}
        }
        span.active {background: $datepicker-active-color;}
    }
}

.inline-group {
    margin: 0 rem-calc(5);
    .tabular tr {
        &.has_original td {
            padding-top: 0;
        }
        td {
            padding: 0 rem-calc(5);
            &.original p {
                display: none;
            }
            #{text-inputs(all, 'input')}, select{
                margin: rem-calc(5) 0;
            }
        }
    }
}

.field-row.error {
    background-color: $body-bg;
}

/* Validation */
.field-row.error input, .field-row.error select {
    background-color: $validation-error-bg-color;
    color: $validation-error-font-color;
    box-shadow: inset 0 0 0px 1px $validation-error-border-color;
}

.field-row.error .error small.error {
    background-color: $body-bg;
    color: $validation-error-font-color;
}

.error .row label.required {
    color: $alert-color !important;
}
.row label {
    text-align: right;
}

#loading-bar .bar {
    position: absolute;
    top: 72px;
    height: 3px;
    background: $primary-color;
}

#loading-bar-spinner {display: none;}

.field-row .end.columns {
    /* Raw-id fields customization */
    position:relative;
    input.vForeignKeyRawIdAdminField {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    a.related-lookup {
        position:absolute;
        right: 15px;
        height: 28px;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }
    strong {
        display: inline-block;
        position: relative;
        top: -20px;
    }
}
