@import 'variables';

.vLargeTextField, .vXMLLargeTextField {
    width: 100%;
}

select {
    width: 100%;
    padding-right: 20px;
    margin-right: 10px;
}
.row {
    table {
        tbody {
            td {
                ul {
                    list-style-type: none;
                    li {
                        label {
                            text-align: left;
                        }
                    }
                    &.errorlist {
                        margin: 0;
                        padding: 0;
                        li {
                            color: $alert-color;
                        }
                    }
                }
            }
        }
    }
}

.datepicker {
    td, th {
        &.active {
            &.day {background: $datepicker-active-color;}
            &.year {background: $datepicker-active-color;}
        }
        span.active {background: $datepicker-active-color;}
    }
}

.field-row.error {
    background-color: $fieldset-bg-color;
}

/* Validation */
.field-row.error input, .field-row.error select {
    background-color: $validation-error-bg-color;
    color: $validation-error-font-color;
    box-shadow: inset 0 0 0px 1px $validation-error-border-color;
}

.field-row.error .error small.error {
    background-color: $fieldset-bg-color;
    color: $validation-error-font-color;
}

.error .row label.required {
    color: $alert-color !important;
}
.row label {
    text-align: right;
}

#loading-bar .bar {
    position: absolute;
    top: 72px;
    height: 3px;
    background: $primary-color;
}

#loading-bar-spinner {display: none;}

.field-row .end.columns {
    /* Raw-id fields customization */
    position:relative;
    input.vForeignKeyRawIdAdminField {
        float: left;
    }
}
.result-list {
    overflow-x: auto;
}

.tooltip {
    max-width: 600px;
}

.top-bar {
  .top-bar-section {
    li.has-dropdown {

      &.hover, &.not-click {
        > .dropdown {
          transition: clip 0s .5s linear;
        }
      }

      &.hover, &.not-click:hover {
        > .dropdown {
          clip: rect(0px, 1000px, 1000px, 0px);
          transition: clip 0s 0s linear;
        }
      }
    }
  }
}
