@import 'foundation/functions';
@import 'colors';
@import 'foundation/settings';

$fa-font-path: '../vendor/fonts';

$base-font-size: 12px;
$rem-base: $base-font-size;

$body-bg: #fff;
$global-radius: 0;

$primary-color: $mdc-blue-600;

$success-color: #43A047;

$panel-bg: $mdc-blue-grey-50;
$crumb-bg: $mdc-blue-grey-50;

$crumb-padding: rem-calc(10 12 10);
$crumb-side-padding: rem-calc(6);
$crumb-border-size: 0;
$crumb-border-style: none;
$crumb-border-color: transparent;
$crumb-font-color: $primary-color;
$crumb-font-transform: normal;

$button-tny: rem-calc(7);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(12);
$button-font-tny: rem-calc(11);
$button-font-sml: rem-calc(12);
$button-font-med: rem-calc(13);
$button-font-lrg: rem-calc(14);
$button-margin-bottom: 0;
$button-radius: 0;
$button-function-factor: -20%;
$info-button-bg-color: #a0d3e8;
$info-button-bg-hover: scale-color($info-button-bg-color, $lightness: $button-function-factor);
$info-button-border-color: $info-button-bg-hover;

$form-spacing: rem-calc(12);
$form-label-font-size: rem-calc(12);

$fieldset-border-style: solid;
$fieldset-border-width: 3px;
$fieldset-border-color: #eee;
$fieldset-bg-color: rgb(246, 246, 246);
$fieldset-margin: rem-calc(20 0);

$topbar-bg-color: $primary-color;
$topbar-bg: $topbar-bg-color;

$topbar-dropdown-bg: $topbar-bg-color;
$topbar-dropdown-link-color: #fff;
$topbar-dropdown-link-color-hover: #fff;
$topbar-dropdown-label-color: #fff;
$topbar-dropdown-link-bg: $topbar-bg-color;
$topbar-dropdown-link-bg-hover: lighten($topbar-bg-color, 8%);
$topbar-height: rem-calc(40);
$topbar-link-bg-hover: lighten($topbar-bg-color, 5%);
$topbar-link-bg-active: darken($topbar-bg-color, 10%);
$topbar-link-bg-active-hover: darken($topbar-bg-color, 5%);
$topbar-link-color-hover: #fff;
$topbar-margin-bottom: 0;
$topbar-menu-link-color-toggled: rgba(255,255,255,0.6);

$f-dropdown-max-width: 280px;

$datepicker-active-color: $primary-color;

$tabs-border-color: #ccc;
$tabs-content-bg-color: #fafafa;

$accordion-navigation-padding: rem-calc(5);
$accordion-navigation-font-size: rem-calc(12);

$validation-error-bg-color: rgb(255, 245, 195);
$validation-error-border-color: rgb(255, 56, 125);
$validation-error-font-color: red;

$input-box-shadow: none;
$input-padding: 0.4rem;

$tooltip-font-size: rem-calc(12);

$has-tip-border-bottom: none;
$has-tip-font-weight: normal;
$has-tip-border-bottom-hover: none;

$alert-function-factor: -40%;
$info-color: #F7F48A;

$pagination-height: 0;

$admin-bottom-bg: $tabs-content-bg-color !default;
