{% load staticfiles %}

<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/vendor/angular-resource.min.js' %}"></script>
<script src="{% static 'js/vendor/angular-cookies.min.js' %}"></script>
<script src="{% static 'js/vendor/angular-breadcrumb.min.js' %}"></script>
<script src="{% static 'js/vendor/angular-ui-router.min.js' %}"></script>

<script src="{% static 'js/app/apps.js' %}"></script>
<script src="{% static 'js/app/data_center/controllers.js' %}"></script>
<script src="{% static 'js/app/data_center/directives.js' %}"></script>
<script src="{% static 'js/app/data_center/services.js' %}"></script>

<script src="{% static 'js/app/rack/controllers.js' %}"></script>
<script src="{% static 'js/app/rack/directives.js' %}"></script>
<script src="{% static 'js/app/rack/services.js' %}"></script>

<script src="{% static 'js/app/common/filters.js' %}"></script>
