{% load static %}

<script src="{% static 'vendor/js/angular.min.js' %}"></script>
<script src="{% static 'vendor/js/angular-resource.min.js' %}"></script>
<script src="{% static 'vendor/js/angular-cookies.min.js' %}"></script>
<script src="{% static 'vendor/js/angular-breadcrumb.min.js' %}"></script>
<script src="{% static 'vendor/js/angular-ui-router.min.js' %}"></script>
<script src="{% static 'vendor/js/loading-bar.min.js' %}"></script>

<script src="{% static 'js/app/apps.js' %}"></script>
<script src="{% static 'js/app/server_room/controllers.js' %}"></script>
<script src="{% static 'js/app/server_room/directives.js' %}"></script>
<script src="{% static 'js/app/server_room/services.js' %}"></script>

<script src="{% static 'js/app/rack/controllers.js' %}"></script>
<script src="{% static 'js/app/rack/directives.js' %}"></script>
<script src="{% static 'js/app/rack/services.js' %}"></script>

<script src="{% static 'js/app/common/filters.js' %}"></script>
<script src="{% static 'js/app/common/directives.js' %}"></script>

<script src="{% url 'settings-js' %}"></script>
