{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}
  {% trans "Dc View" %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "vendor/css/loading-bar.min.css" %}" />
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  {% include 'dc_view/angular_scripts.html' %}
{% endblock %}

{% block content %}
<br />
<div id="content-main" class="row">
    <div class="large-12 columns" ng-app="dataCenterVisualizationApp">
        <div class="row visualization">
            <div class="large-2 small-3 columns">
              <div class="panel">
                <h5>{% trans "Data centers" %}</h5>
                <ul class="side-nav">
                    {% for data_center in data_centers %}
                      <li ui-sref-active="active">
                        <a ui-sref="data_center.detail({dcId:{{ data_center.id }}})">
                          {{ data_center }}
                        </a>
                      </li>
                    {% endfor %}
                </ul>
              </div>
              <div class="panel" ui-view="rack-list">
              </div>
            </div>
            <div ui-view class="large-10 small-9 columns">
            </div>
        </div>
    </div>
</div>
{% endblock %}
