{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}
  {% trans "Dc View" %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/loading-bar.min.css' %}" />
  <style>
    .insert-device-btn {
      position: absolute;
      width:100%;
      left: 0;
      border: 1px solid #FF9800;
      background: -webkit-repeating-linear-gradient(-45deg, #FF9800, #FF9800 10px, transparent 10px, transparent 20px);
      background: repeating-linear-gradient(-45deg, #FF9800, #FF9800 10px, transparent 10px, transparent 20px);
      color: white;
      text-align: center;
      padding: 1px;
      font-size: 14px;
    }
    .insert-device-btn i {
      pointer-events: none;
    }
  </style>
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  {% include 'dc_view/angular_scripts.html' %}
{% endblock %}

{% block content %}
<br />
<div id="content-main" class="row">
    <div class="large-12 columns" ng-app="serverRoomVisualizationApp">
        <div class="row visualization">
            <div class="large-2 small-3 columns">
              <div class="panel">
                <h5>{% trans "Server rooms" %}</h5>
                <ul class="side-nav">
                    {% for data_center in data_centers %}
                      <li ui-sref-active="active">
                        {{ data_center }}
                        {% for server_room in data_center.server_rooms.all %}
                          <ul>
                            <li>
                              <a ui-sref="server_room.detail({srId:{{ server_room.id }}})">
                               {{ server_room.name }}
                              </a>
                            </li>
                          </ul>
                          {% endfor%}

                      </li>
                    {% endfor %}
                </ul>
              </div>
              <div class="panel" ui-view="rack-list">
              </div>
            </div>
            <div ui-view class="large-10 small-9 columns">
            </div>
        </div>
    </div>
</div>
{% endblock %}
