{% extends BASE_TEMPLATE %}
{% load i18n %}

{% block bodyclass %}scm-tab{% endblock%}

{% block view_content %}


<h1>{% trans "SCM status information" %}</h1>
  {% if scm_check %}
    <table>
      <tr>
        <td>{% trans "Last checked" %}</td>
        <td>{{ scm_check.last_checked|date:"o-m-d" }}</td>
      </tr>
      <tr>
        <td>{% trans "SCM status" %}</td>
        <td>{{ scm_check.get_check_result_display }}</td>
      </tr>
      <tr>
        <td>{% trans "Details" %}</td>
        <td><a href="{{ scm_tool_url|default:"#" }}">{{ scm_tool_url|default:"-" }}</a></td>
      </tr>
    </table>

  {% else %}
    <p>{% trans "The status of the software configuration management for this host is unknown." %}</p>
  {% endif %}


{% endblock %}
