.main-body {
    min-height: 40em;
}
.browser-min-width
{
    min-width: 1000px;
}
table.table-list tr.active > td {
    background-color: #eee;
}

ul.side-list > .active:hover > a,
ul.rack-list > .active:hover > a,
ul.venture-list > .active:hover > a {
    background-color: #ddd;
}

ul.side-list > .active > a,
ul.rack-list > .active > a,
ul.venture-list > .active > a {
    background-color: #eee;
}

td.currency,
.currency {
    text-align: right;
}

td.count {
    text-align: center;
}

.table-properties th > label {
    font-weight: bold;
}
.table-properties th > a.fugue-icon {
    margin-top: 0;
}

.table-properties td,
.table-properties th {
    vertical-align: middle;
}

form div.readonly {
    width: 210px;
}

.table-properties td.controls > textarea,
.table-properties td.controls > div.readonly,
.table-properties td.controls > select,
.table-properties td.controls > input {
    margin: auto;
    width: 160px;
}

.table-properties td.controls {
    width: 170px;
}
.table-list td {
    max-width: 20em;
    overflow: hidden;
}

.table-list th {
    white-space: nowrap;
}
.table-list th a.fugue-icon {
    margin: 0;
    float: right;
}

.table-list .column-name a {
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-decoration: none;
}

.fugue-icon {
    margin-top: -6px;
    margin-bottom: -2px;
    white-space: nowrap;
}

.side-nav {
    padding: 9px 0;
}

.error-text {
    color: #B94A48;
}

td.column-checkbox {
    vertical-align: middle;
    text-align: center;
}

.side-nav .nav-list a {
    overflow: hidden;
    white-space: nowrap;
}

.disco-console {
    min-height: 30em;
    width: 98%;
}

html .loading {
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50% !important;
}

.dashboard-form {
    text-align: center;
    margin: 20em 4em;
    width: 100%;
}

label.required { font-weight: bold }

div.report-tabs div.tabs-right,
div.report-tabs ul.nav-tabs {
    width: 100%;
    float: none;
    margin: 0;
}

html a.nolink,
html .nolink {
    cursor: text !important;
}

h3 {
    padding-bottom: 10px; 
    padding-top: 10px; 
}

.details-report th{
    width: 40%;
}

tr.table-highlight td {
    font-weight: bold;
}

.cabinet-rack-view td{
    min-width: 200px;
}

.end-date-field
{
    margin-top: -10px !important;
}

.csv-input {
    font-family: monospace;
}

.reports-form-right-line
{
    border-right: 1px solid silver;
    padding-right: 20px;
}

.reports-table-component
{
    margin-left: -6px;
    margin-top: -4px;
}

.reports-table-component td:nth-child(2)
{
    width: 10%;
    text-align: center;
}

.reports-table-component td:nth-child(3),
.reports-table-component td:nth-child(4)
{
    width: 15%;
    text-align: right;
}